[2012-10-08 12:22] ronnierap opened #4 "Account not properly build when looking up subscription details"
In the recurly docs: https://docs.recurly.com/api/subscriptions
When looking up particular subscription details, there is this response format:

[code]

What I see when using the library is that Account is set, but every field has null values..
Has this something todo with the href="https://api.recurly.com/v2/accounts/1" not being queried?

Regards

[2013-03-15 09:21] kizashi1122 opened #10 "Can't retrieve Addons List via Subscription."
Current declaration of Addon Class is as follows:

[code]

But, Returned XML from Recurly-API is like:

[code]

These names of each element are not the same.
So subscription.getAddOns() always returns null.

Should create new class for it.

[2013-05-14 01:31] kizashi1122 opened #11 "if the XML of new subscription notification has no add_on element, lib returns null"
When getting an XML data of new subscription via push notification, if the XML has no addon element, the library returns null (and log as error at the same time).

But with addon element in XML, it works fine.

Could you check this?

[2013-05-14 02:07] #11 closed, assigned to nobody

[2013-08-02 08:57] klemensz opened #13 "Missing Documentation"
Ist there any documentation on how to use the library? (except for the JavaDocs)
Thanks.

[2013-08-27 15:37] tolik2013 opened #14 "Invoice object properties are empty for transaction"
If we call the method recurlyClient.getAccountTransactions the Transaction.invoice's properties contain the vallue "null".

[2013-08-28 09:26] #4 closed, assigned to nobody

[2013-09-02 23:34] patsimon opened #15 "Account class has no references to address detail"
A GET operation on an account can return address detail (See example payload below). However, address is not part of the com.ning.billing.recurly.model.Account at all?

[code]

[2013-09-03 09:03] #15 closed, assigned to nobody

[2013-09-03 09:05] #14 closed, assigned to nobody

[2013-09-04 05:57] patsimon opened #16 "Obtaining the errors that may occur while creating BillingInformation"
This is more of a design question than a bug...

Is there way to obtain the actual error(s) Recurly provide other than looking in the logs?

http://docs.recurly.com/payment-gateways/test describe the many errors that may throw back on the result of a faulty Credit Card.

Currently, RecurlyClient.createOrUpdateBillingInfo method will return null if a problems occurs and I would like to relay the ac

[2013-09-05 02:29] patsimon opened #17 "Quantities on AddOns"
According to http://docs.recurly.com/api/subscriptions/subscription-add-ons, you can submit a subcription with addons and their quantities. The com.ning.billing.recurly.model.AddOn currently doesn't have any "quantity" field.

Can this be added?

Happy to look at a Pull Request if you are time-poor?

[2013-09-06 00:28] #17 closed, assigned to nobody

[2013-09-13 02:00] #16 closed, assigned to pierre

[2013-11-12 23:03] ospector opened #21 "Exception on empty arrays"
When recurly returns an empty array, Jackson throws an exception which is not intercepted: **java.lang.IllegalStateException: Missing name, in state: END_ARRAY**
This is due to the structure of these messages:

[code]

Two solutions: (did not fork, as I was not sure which to prefer)
(1) try-catch around RecurlyClient Line 723, returning null
(2) pre-parse (using dom?!) for empty structure in Recur

[2013-11-26 12:55] #21 closed, assigned to pierre

[2013-11-26 13:33] #10 closed, assigned to nobody

[2013-12-20 07:38] oohira opened #23 "Failed to remove subscription's add-ons"
I wrote following Java code to update a subscription from plan A (with add-ons) to plan B (without add-ons).

[code]

And following XML was sent to Recurly.

[code]

According to API Documents (https://docs.recurly.com/api/subscriptions/subscription-add-ons), add-ons should be removed when `<subscription_add_ons>` element is not specified. However, Recurly returned an error like this.

[code]

By

[2013-12-22 22:42] #23 closed, assigned to pierre

[2014-02-27 13:57] KrysGo opened #31 "Not international zip codes allowed!"
Hi, for international Zip codes like 'WC2A 3RD' (London) is this lib not usable in the moment because of the line:

[code]

Best regards
Krys

[2014-05-12 18:57] kevintrieu opened #32 "ArgumentError: invalid byte sequence in UTF-8"
Attempt to create account with subscription and billingInfo fails when the account has a first_name with foreign character such as é, ö, etc.

Example log output:

[code]

[2014-05-20 07:00] KoenDG opened #33 "Invoice model, line 165"
https://github.com/killbilling/recurly-java-library/blob/master/src/main/java/com/ning/billing/recurly/model/Invoice.java#L165

Never going to get assigned. Was this done for a reason?

[2014-05-22 15:53] KoenDG opened #34 "Problem with terminating subscription with manual invoicing"
Recurly has 2 kinds of subscriptions: regular ones and ones with manual invoicing, as can be seen here, in the sidebar: [http://docs.recurly.com/api](http://docs.recurly.com/api)

Upon trying to terminate a subscription with manual invoicing, we've been getting the following error:

Unable to do find out which value, we dowloaded and modded the source code to add it, which resulted in:

The proble

[2014-05-23 22:56] KoenDG opened #35 "Missing fields in the SubscriptionUpdate model"
I forgot about this one, so I'm typing it up before I get some sleep.

[https://github.com/killbilling/recurly-java-library/blob/master/src/main/java/com/ning/billing/recurly/model/SubscriptionUpdate.java](http://%20https://github.com/killbilling/recurly-java-library/blob/master/src/main/java/com/ning/billing/recurly/model/SubscriptionUpdate.java)

There are several missing fields, as can be seen

[2014-05-30 17:33] kevintrieu opened #36 "Support for webhooks Invoice type"
Recurly sends 4 types of notification: account, invoice, subscription, and payment.

Invoice isn't covered by library. Is there plan to add this?

[2014-07-29 21:16] mhgbrown opened #39 "Get subscriptions and transactions without account"
Thanks for the library!

Is there a way to do this already?  If not, would you be willing to include/accept a pull request to include this functionality?

e.g. `GET api.recurly.com:443/subscriptions`

[2014-08-01 22:05] #31 closed, assigned to nobody

[2014-08-14 20:06] maxkremer opened #41 "Names with foreign characters break calls to recurly"
Text submitted with the Recurly client containing text such as Björn fail due to improper char encoding

[2014-08-16 15:31] #41 closed, assigned to nobody

[2014-08-23 22:40] #32 closed, assigned to nobody

[2014-08-26 14:02] maxkremer opened #48 "Missing first_renewal_date field in subscription"
If you look at Recurly's doc's here: https://docs.recurly.com/api/subscriptions#create-subscription

You will see that a field named `first_renewal_date` is very useful.

_Indicates a date at which the first renewal should occur. Subsequent renewals will be offset from this date. The first invoice will be prorated appropriately so that the customer only pays for the portion of the first billing pe

[2014-08-26 20:50] maxkremer opened #49 "Missing support for Postpone subscription operation"
The postpone subscription operation is (under)documented here:

https://docs.recurly.com/api/subscriptions#postpone-subscription

Basically the name is a misnomer, it allows you to set the billing cycle date for a subscription after it's been created. Due to reasons known only to the Recurly devs the `first_renewal_date` field (see #48 ) on subscription creation is completely ignored when a plan h

[2014-09-01 02:17] #48 closed, assigned to nobody

[2014-09-01 02:17] #49 closed, assigned to nobody

[2014-09-08 19:33] federico-piazza opened #51 "TestUtils doesn't exist"
Hello, I've downloaded this library to start using recurly and when I tried to test the examples detailed in
https://github.com/killbilling/recurly-java-library/blob/master/src/test/java/com/ning/billing/recurly/TestRecurlyClient.java I got issues for
TestUtils.createRandomAccount() since TestUtils is not found on jar.

I was wondering if you could upload this class in order to ease the tests.

Th

[2014-09-09 19:57] #51 closed, assigned to nobody

[2014-09-09 20:13] federico-piazza opened #52 "recurlyClient.createAccount generates AbstractMethodError"
Hi, I'm testing this java client and based on [this test](https://github.com/killbilling/recurly-java-library/blob/master/src/test/java/com/ning/billing/recurly/TestRecurlyClient.java) to write my code.

I try to create an account but I got an error on .createAccount method. This is the code I'm testing:

[code]

Above code generates an error. The output error is the following:

Any idea why I got

[2014-09-09 23:18] #52 closed, assigned to nobody

[2014-09-10 23:01] fedepia opened #53 "Create subscription generates invalid_xml"
I'm testing the API and my below code generates an invalid xml error.

The code is:

    @Test
	public void testSubscribeUserToPlan()
	{
		System.setProperty("recurly.debug", "true");

		RecurlyClient recurlyClient = new RecurlyClient(API_KEY);
		recurlyClient.open();

		try
		{
			Account acc = recurlyClient.getAccount("12312");

			Subscription subscriptionData = new Subscription();
			subscript

[2014-09-11 22:48] fedepia opened #54 "Invoice fetcher generates JsonMappingException"
The following code fetches the xml account but the xml mapper raises an error.

[code]

The generated error is:

    WARN : com.ning.billing.recurly.RecurlyClient - Error while calling Recurly
    com.fasterxml.jackson.databind.JsonMappingException: Can not deserialize instance of java.lang.String out of START_OBJECT token
     at [Source: java.io.StringReader@7aaf8b32; line: 9, column: 27] (throu

[2014-09-23 14:27] maxkremer opened #55 "Return Transaction Errors rather than throw exceptions"
This is kind of related to #16

Generally it is best practice to use exceptions only for exceptional conditions. That is program errors that prevent the code from doing what it's supposed to (eg an IOException when trying to right to storage that is full). Exceptions should not be used for program flow and in the recurly client they are. `TransactionErrorException` is used when denoting that a cre

[2014-09-29 21:58] #55 closed, assigned to nobody

[2014-11-03 22:00] ajantaphatakshow opened #57 "getCoupon and getCoupons bug when discount_type is dollars"
When I use recurlyClient.getCoupon on a coupon code that has the discount type of dollars I get back a null. Works for when discount_type is percent. Also, I see different xml coming back for dollars vs percent as shown below, maybe that is the reason for the difference?

[code]

vs

[code]

[2014-11-23 01:13] #57 closed, assigned to nobody

[2015-01-31 17:15] alex-konkov opened #66 "Migrate to Jackson 2.4+"
It would be nice to migrate to the latest Jackson dependency. There is at least an issue with RecurlyUnitCurrency class, as follows

[code]

[2015-02-01 21:26] pierre commented on #66
There are a few issues to work through for the upgrade:

* Regarding your error, a workaround seems to be to remove `@XmlValue` from `RecurlyUnitCurrency`
* Another regression is related to `@XmlRootElement`: replacing it with `@JsonRootName` seems to work.
* Finally, it looks like there is a regression related to https://github.com/FasterXML/jackson-dataformat-xml/issues/76, causing the elements

[2015-02-04 13:26] pierre commented on #66
I've pushed a fix in the `jackson-2.5-upgrade` branch. Could you give it a try? I've done limited testing, but fast and integration tests seem to pass.

[2015-02-04 14:48] alex-konkov commented on #66
Thanks a lot Pierre, Transaction deserialisation appears to work fine now, as well as unit tests pass! Hopefully, the changes will be released some day.

[2015-02-04 15:34] pierre commented on #66
Regarding the merge, I'd like to see more testing first. Do you have an environment where you can let it bake for a while?

[2015-02-04 18:57] alex-konkov commented on #66
Ok, will give it a trial run. Thx.

[2015-04-16 11:57] pierre opened #71 "Setup travis for PR"
Integration tests could be run against a sandbox automatically.

[2015-06-16 10:19] ospector opened #73 "guava defined as provided dependency"
for some reason guava is defined as scope=provided.
This leads to issues:
(1) For apps that do not use guava
(2) For apps that use guava version<15 (incompatibility)

Unless such users download the source and run mvn dependency:list, they will not understand the reason as the dependency isn't even listed in their app (as it is "provided").

guava is NOT a library that has a vendor specific provide

[2015-07-15 18:53] jkeam commented on #66
+1 to this fix making its way back into master :)

[2015-07-15 20:15] jkeam commented on #66
Just noticed it looks like this was merged into master:

Merge: 515cd55 c734449
Author: Pierre-Alexandre Meyer <pierre@mouraf.org>
Date:   Sun Feb 8 15:40:58 2015 -0500

    Merge branch 'jackson-2.5-upgrade'

    Signed-off-by: Pierre-Alexandre Meyer <pierre@mouraf.org>

    Conflicts:
        src/main/java/com/ning/billing/recurly/model/Subscription.java

Any reason why this ticket isn't closed?

[2015-07-16 12:10] pierre commented on #66
I wanted to get a bit more testing, but it seems that no-one has complained yet!

[2015-07-16 12:10] #66 closed

[2015-07-16 13:50] jkeam commented on #66
:+1:

[2015-07-16 19:16] jkeam opened #75 "Void Payment Webhook Doesn't Match Recurly Documentation"
The void payment webhook doesn't parse the example in the recurly documentation.  It's a real simple fix.  The name of your class, and the string that you are expecting is "VoidedPaymentNotification.java", or "voided_payment_notification".  However, as per their documentation, they are saying it's void_payment_notification.  I don't know how to trigger recurly to send a void payment webhook, and a

[2015-07-16 19:22] cgerrior commented on #75
Hi @jkeam,

Thanks for reporting this. I can confirm that it is "void_payment_notification"...

<?xml version="1.0" encoding="UTF-8"?>
<void_payment_notification>
  <account>
    <account_code>1877359</account_code>
    <username nil="true"></username>
    <email>maranda.williamson@example.com</email>
    <first_name>Alfreda</first_name>
    <last_name>Howe</last_name>
    <company_name nil="true"

[2015-07-16 20:39] jkeam commented on #75
Thanks @cgerrior for the verification!  I opened a PR just now against this issue that should resolve this.  The XMLRootElement was good on the void payment object, but the real problem was in the Type enum found in Notification.java.  The enum was incorrect, so Notification couldn't properly detect what type it was.  I fixed that and just went ahead and refactored the name of the object to match

[2015-07-17 07:28] #75 closed

[2015-07-21 15:31] jkeam opened #78 "Missing Invoice Webhooks"
I noticed that the library was missing the invoice webhooks found here:  https://docs.recurly.com/api/push-notifications

I opened a PR to include those.
https://github.com/killbilling/recurly-java-library/pull/77/files

Please let me know if there are any issues or anything you want me to modify in the PR and I'll be more than happy to do it.

[2015-07-21 16:00] jkeam opened #79 "Transaction field mappings are off"
There are a few transaction fields that were not mapped quite right.  For instance, the call to get a transaction:

url: https://:subdomain.recurly.com/v2/transactions/:id

Returns the following result.  Take notice of cvv_result, avs_result.  These are being mapped to the PushTransaction, but as you can see here, these fields appear even on a normal non-webhook response.  Additionally, the avs_re

[2015-10-19 19:53] jahskee opened #85 "issue: profile integration does not exist."
Hi Developers,

I tried running this:

mvn clean test -Pintegration -Dkillbill.payment.recurly.apiKey=xxxxx
-Dkillbill.payment.recurly.subDomain=mydomain

It returns this error message:
[WARNING] The requested profile "integration" could not be activated because it does not exist.

Anyone have idea?

Thank you,
Jai

[2015-10-19 20:02] pierre commented on #85
That's odd. Are you sure you are in the right repo? Have you pulled the latest code?

[2015-10-19 20:14] jahskee commented on #85
I am using Eclipse, i added this in my pom.xml,
http://i.imgur.com/KUcP2RA.png

Following the instruction

Thank you,
Jai

[2015-10-19 20:19] pierre commented on #85
The development instructions only apply to working on the library itself, not to a third-party project depending on the jar.

[2015-10-19 20:19] #85 closed

[2015-10-19 20:22] jahskee commented on #85
Got this Pierre, sorry i tot that instruction are for 3rd parties. thanks!

[2015-10-20 18:16] jahskee opened #86 "com.ning.billing.recurly.model.SubscriptionNotes not found"
The class
com.ning.billing.recurly.model.SubscriptionNotes;

is not found in the library i added 0.2.4 i checked the jar its not there.

Can anyone help?

[2015-10-20 19:11] pierre commented on #86
You need to use the latest master to access `SubscriptionNotes`, there is no published jar yet with it.

[2015-10-20 19:11] #86 closed

[2015-10-20 19:30] jahskee commented on #86
Thanks!

[2015-10-25 03:07] jahskee opened #87 "Recurly error reply is unacceptable tag <card_type>."
[main] INFO com.ning.billing.recurly.RecurlyClient - Msg to Recurly API [PUT]:: URL : https://xxx.recurly.com:443/v2/accounts/521701ca-5f4f-4da1-87f3-7f59c6d9c129/billing_info
[main] INFO com.ning.billing.recurly.RecurlyClient - Payload for [PUT]:: <billing_info xmlns=""><first_name>0bd04</first_name><last_name>943118</last_name><company>ddd9c09df4</company><address1>91c51f5cad</address1><address2

[2015-10-26 03:24] jahskee commented on #87
I found a solution to this i was using jackson-core and other jackson-* jar file version 2.6.3.
When i switched to version 2.5.0 everything works fine.

[2015-10-27 00:01] jahskee opened #88 "Recurly data models com.ning.billing.recurly.model.* not serializeable"
Hello i am trying to do recurly api call within Jboss EJB session bean but it returns com.ning.billing.recurly.model.Errors not serializable, Can RecurlyObject.java implement Serializeable class?

Thanks,
Jai

[2015-10-27 00:02] #87 closed

[2015-10-28 17:09] pierre commented on #88
Have you tried modifying the library locally? Would it indeed solve your issue(s) (the library hasn't been tested in a JBoss environment)?

If so, feel free to submit a PR.

[2015-10-30 22:49] jahskee commented on #88
Yes making com.ning.billing.recurly.model.RecurlyObject implement serializeable fixed the issue.

[2015-10-30 22:50] jahskee opened #89 "How to pass http header parameters when sending billing info creation"
I want to pass an http header like "Recurly-Skip-Authorization: true"  any public function to do it
using java recurly lib? i want to be able to import billing information skipping cc authorization checks.

Any info will be appreciated.

Thank you,
Jai

[2015-10-31 00:19] jahskee commented on #89
Is it safe to add it here http://i.imgur.com/6sVRY51.png ?
Is there any issue with it?

Thanks,
Jai

[2015-11-01 07:14] jahskee commented on #89
issue fixed adding asyncHttpclient param

[2015-11-01 07:15] #89 closed

[2015-11-02 18:44] mzouitni opened #90 "using Jackson 2.5 and up causes issues when interacting with reculry"
We recently upgraded from Jackson 2.4.2 to 2.6.1 and our recurly api calls stopped working. An example of a failed create subscription call:
[code]
This is the actual xml generated by recurly java library:
[code]

Prior to the upgrade the actual xml was:
[code]
Adding the below line to the RecurlyObject.java in newXmlMapper() method, fixes the problem.
[code]

Is this something that you can update

[2015-11-02 19:27] pierre commented on #90
Can you submit a PR?

Also, is the change backward compatible with 2.5.0?

[2015-11-02 20:07] mzouitni commented on #90
I tried the change in 2.5.4 and it worked as well.

[2015-11-02 22:50] #90 closed

[2015-11-12 20:31] jahskee opened #92 "Unacceptable tag "adjustments""
I am trying to just update the account but it returns this error Unacceptable tag adjustments

[2015-11-13 06:05] jahskee commented on #88
Thanks for the reply.

[2015-11-14 15:28] jahskee commented on #88
Thanks for the reply.

[2015-11-14 15:39] jahskee commented on #92
I see that, there is no Junit Test cases yet for getAccount(...) and updateAccount(...).

[2016-02-05 23:03] syves opened #95 "missing guava dependency with sbt"
When I pull in the library through sbt
by adding to build.sbt ->
libraryDependencies += "com.ning.billing" % "recurly-java-library" % "0.4.0"

I get this error:

java.lang.NoClassDefFoundError: com/google/common/io/Resources)
java.lang.NoClassDefFoundError: com/google/common/io/Resources
at com.ning.billing.recurly.RecurlyClient.buildUserAgent(RecurlyClient.java:1045)
at com.ning.billing.recurly.R

[2016-02-08 15:48] pierre commented on #95
Duplicate of https://github.com/killbilling/recurly-java-library/issues/73.

[2016-02-08 15:48] #95 closed

[2016-02-08 17:42] syves commented on #95
Oh ok!

On Mon, Feb 8, 2016 at 10:30 AM, Pierre-Alexandre Meyer <
notifications@github.com> wrote:

[2016-03-02 10:23] jtvgithub opened #96 "TLS 1.1 or later"
I am getting following warning in Recurly console. Please help -

**Important Notice: We have detected API connections to this Recurly subdomain using TLS 1.0. For security reasons these connections must be upgraded to TLS 1.1 or later by June 30th, 2016.**

[2016-03-02 18:00] bhelx commented on #96
Hey @jtvgithub

Can you tell us what Operating System you are using and which version of Java you are using?

[2016-03-03 00:36] cbsi-sl opened #97 "Coupon Redemptions"
Hi,

Right now the method getCouponRedemptionByAccount() seems to hit this Recurly endpoint:
https://:subdomain.recurly.com/v2/accounts/:account_code/redemption

Recurly seems to also support listing out multiple redemptions, including redemptions that have naturally expired:
https://:subdomain.recurly.com/v2/accounts/:account_code/redemptions

May I ask if the multiple redemptions response will b

[2016-03-03 19:04] bhelx commented on #97
@cbsi-sl I'll put it on my calendar for next week. I need to investigate the level of effort to required to add it to this library. I think it should be pretty straight forward.

[2016-03-04 23:31] bhelx opened #98 "Incorrect RootElement for Accounts class"
This should be `accounts` and not `plans` correct?

https://github.com/killbilling/recurly-java-library/blob/master/src/main/java/com/ning/billing/recurly/model/Accounts.java#L26

[code]

I'm assuming it has not come up because it's only used for serialization and the clients never serialize a list of accounts? I'd be happy to send a fix for this.

\cc @pierre @sbrossie

[2016-03-05 14:41] pierre commented on #98
It looks like an [old typo](https://github.com/killbilling/recurly-java-library/commit/49569c71eab6e6306d1ec39828219c8a42db164f) indeed.

Just run the whole test suite with the fix to make sure we didn't miss anything :smile_cat:

[2016-03-06 08:50] bhelx commented on #98
Sure thing, already did. Will send a PR on monday morning.

[2016-03-08 09:14] jtvgithub commented on #96
After updating Java, this problem is solved.

[2016-03-08 18:17] bhelx commented on #96
@jtvgithub Glad it's working for you. Going to close this ticket.

Could you let us know which version you were on and what you updated to? If someone comes searching it would be helpful if they could find some information.

[2016-03-08 20:43] bhelx commented on #98
Closed with https://github.com/killbilling/recurly-java-library/pull/99

[2016-03-08 20:43] #98 closed

[2016-03-09 00:27] bhelx commented on #71
This can be closed due to https://github.com/killbilling/recurly-java-library/pull/83

[2016-03-09 00:29] bhelx commented on #71
I'm going to look into this but I'm unsure the best way to get the integration tests running in Travis. Perhaps I can create a sandbox site and somehow set the keys only in Travis. I'd also need to look and see if api rate limiting will affect this.

[2016-03-09 14:03] pierre commented on #71
You can set private (*secure*) environment variables in Travis (I can set it up if you PM me the secret API key): you can then override the `script` entry in the `travis.yml` to pass them on the command line (`-D...`).

BTW, it would be great if we could have a sandbox with enterprise features enabled, so we could run the `enterprise` suite as well.

[2016-03-09 18:38] bhelx commented on #71
Yeah, good idea. I can setup whatever kind of sandbox and add all the feature flags to it. I noticed the integration tests don't work when you have line item refunds enabled but that's something I can fix later. Let me talk to some people about the rate limiting thing. I think it should be fine though.

[2016-03-14 17:02] capebreton opened #103 "Preview Subscription Change"
Was trying this out earlier today, and it looks like the invoice field in the Subscription object is not populated (comes back as null), whereas I can see it in the XML:

[code]

![screen shot 2016-03-14 at 17 01 13](https://cloud.githubusercontent.com/assets/17003840/13752398/6d69cf54-ea06-11e5-915c-a546503e39a6.png)

[2016-03-15 10:06] shrihubble commented on #92
Hi @jahskee

Did u get any solution? I am also facing the same problem.

[2016-03-15 14:27] bhelx commented on #92
@shrihubble could you submit some code to help reproduce the problem? I'd be happy to take a look at it.

[2016-03-15 15:02] jahskee commented on #92
I found out a solution, by only putting values on the fields that you want to update in the value object,
so you should start with an empty account object, those that are null will not be updated.
That solved the issue.

Regards,
Jaizon

[2016-03-15 15:19] bhelx commented on #92
@jahskee some code to reproduce the problem would be helpful

[2016-03-15 16:44] shrihubble commented on #92
RecurlyClient recurlyClient = new RecurlyClient(API_KEY);
try
{
recurlyClient.open();
Account account = recurlyClient.getAccount(accountId);
BillingInfo billingInfoData = recurlyClient.getBillingInfo(accountId);
account.setBillingInfo(billingInfoData);

Subscription subscriptionRequest = null;
subscriptionRequest.setAccount(account);
subscriptionRequest.setCurrency(currency);
subscriptionResult =

[2016-03-15 17:12] shrihubble commented on #92
@jahskee

I am facing this problem when creating a subscription. Please see my code above.

[2016-03-15 17:14] bhelx commented on #92
@shrihubble

I'm assuming this is an existing Account with an existing billing info? If so I don't think you need to pull down and set the billing info again.

I'm also confused by where `subscriptionData` is coming from and also it seems that you haven't set a plan code on the subscription.

[2016-03-15 17:18] bhelx commented on #92
@shrihubble

See this integration test for guidance on how to create subscriptions:

https://github.com/killbilling/recurly-java-library/blob/master/src/test/java/com/ning/billing/recurly/TestRecurlyClient.java#L428

[2016-03-15 17:18] shrihubble commented on #92
@bhelx
I have updated the code. Even after removing the billing info, same problem is coming.
I actually want to use billing info from the secret token
` BillingInfo bInfo = new BillingInfo();
  bInfo.setTokenId(secretToken);
account.setBillingInfo(bInfo);`

[2016-03-15 17:21] shrihubble commented on #92
https://github.com/killbilling/recurly-java-library/blob/master/src/test/java/com/ning/billing/recurly/TestRecurlyClient.java#L428

In this link they are actually creating new account and new billing info, not fetching the existing.

[2016-03-15 19:10] cbsi-sl commented on #97
Thanks for helping with this Benjamin!

[2016-03-16 04:46] shrihubble commented on #53
Hi @fedepia

Did u get any solution? I am also facing the same problem.

[2016-03-16 04:54] shrihubble commented on #92
@bhelx

Any help?

[2016-03-16 14:40] fedepia commented on #53
@shrihubble no, I switched to the xml standard usage.

[2016-03-17 17:11] bhelx commented on #92
@shrihubble sorry I wasn't available yesterday.

It seems to me like maybe the Account object is serializing the adjustments tag and the API is not accepting it. Could you possibly enable debug logging with the property `Drecurly.debug=true` and paste in the xml that is being generated?

[2016-03-17 17:12] bhelx commented on #53
Closing because this is a duplicate of https://github.com/killbilling/recurly-java-library/issues/92

Let's follow the issue there

[2016-03-17 17:12] #53 closed

[2016-03-17 17:57] jahskee commented on #92
I posted the solution in my experience that fixed this issue.

[2016-03-17 18:23] bhelx commented on #92
@shrihubble I'm seeing that @fedepia posted the payload:

[code]

[2016-03-17 18:33] bhelx commented on #92
@pierre is there a reason that these elements are being serialized this way?

[code]

I'm assuming it's because they are either null or empty.

Would you foresee a problem with telling the XmlMapper not to serialize `RecurlyObjects` that are empty?

I'm not sure if there is an option we can set in here or if we'd need to override the serializer:

https://github.com/killbilling/recurly-java-library

[2016-03-17 19:11] bhelx commented on #92
@shrihubble @fedepia @jahskee

If the account already exists, you only need the account code. So one way around this for now is to create some account data with only the account code (Here I am calling it `referenceAccount`).

Borrowing from test code from @fedepia https://github.com/killbilling/recurly-java-library/issues/53#issue-42471393

I made this test:

[code]

Let me know if that helps. I

[2016-03-18 12:01] shrihubble opened #105 "How do I update an existing plan"
Hi

I want to update the plan which is already created in the recurly. I am not able to find the suitable methos to update it. I had a look at the test cases in https://github.com/killbilling/recurly-java-library/blob/master/src/test/java/com/ning/billing/recurly/TestRecurlyClient.java but didn't find any test case for updating the plan.
Please help me with it.

[2016-03-18 19:00] bhelx commented on #105
As far as I can tell there isn't a route to update the `Plan` models

@pierre is this true? I'd be happy to add it.

[2016-03-19 19:38] pierre commented on #92
Nope, I think that should be fine (assuming your backend doesn't care either way). Unit tests will probably need to be updated.

I'm not quite sure how to configure the `XmlMapper` to do it though :confused:  You might have to try a few things...

[2016-03-19 19:53] bhelx commented on #92
@pierre sure thing, I'll try some stuff in a follow up.

@shrihubble @fedepia I am assuming the code I gave above should work for you so I am closing this for now. Please feel free to reopen or continue commenting if it doesn't satisfy.

[2016-03-19 20:45] pierre commented on #105
It looks like it's missing indeed!

[2016-03-19 21:09] bhelx commented on #105
Thanks @pierre

@shrihubble I can put it on my task list for next week. Will post back here.

[2016-03-20 07:52] shrihubble commented on #105
Thank you.
On Mar 20, 2016 2:39 AM, "Benjamin Eckel" <notifications@github.com> wrote:

[2016-03-21 18:52] bhelx commented on #96
@pierre We are transitioning everyone over to TLS1.1 and TLS1.2 over the summer for PCI compliance reasons (TLS1.0 being deprecated). As far as I can read, Java7 supports these protocols only if you explicitly enable them in the VM and Java8 enables them by default. Do you know if we need to change anything with `AsyncHttpClient` so that it can use the most up to date protocol?

[2016-03-21 18:53] bhelx commented on #96
@jtvgithub Did you update from 7 to 8?

[2016-03-21 19:12] pierre commented on #96
@bhelx I would guess it's a JVM configuration issue, AHC will simply delegate protocol management to the JVM.

That being said, if you want to enforce the TLS version, this might be possible via [configuration](https://github.com/killbill/killbill-plugin-framework-java/blob/7fac2b75992de3f244e530ce1e8db15a3823cbbd/src/main/java/org/killbill/billing/plugin/util/http/HttpClient.java#L87).

[2016-03-21 19:18] bhelx commented on #96
Okay great, I just want to get a plan before we close this issue again. I'm gonna do a couple experiments and some reading and get back.

Will also be updating our TLS 1.0 deprecation document with the plan:

https://dev.recurly.com/v2.0/page/tls-v10-deprecation

[2016-03-21 21:31] bhelx commented on #88
@jahskee @pierre going to go ahead and close this issue. Please re-open if we don't think it's resolved.

[2016-03-21 21:31] #88 closed

[2016-03-21 21:31] bhelx commented on #79
This has been closed with https://github.com/killbilling/recurly-java-library/pull/80

[2016-03-21 21:31] #79 closed

[2016-03-21 21:36] bhelx commented on #73
This appears to have been resolved with https://github.com/killbilling/recurly-java-library/issues/95

Please re-open if you are still having a problem.

[2016-03-21 21:42] pierre commented on #73
@bhelx Actually, Guava is still marked as provided. The original intent was to ease the upgrade from Google collections, but it's probably fine now to mark it as `compile` (we could do the change for the next minor release).

[2016-03-24 19:39] mzouitni opened #106 "Invoice missing original_invoice in case of a refund"
When a refund is issued recurly creates a new invoice and associates it with the original invoice for which the refund was applied. Making a call to recurly to retrieve the detail of the new invoice returns an element "original_invoice" that links back to the original invoice. Currently the Invoice.java class doesn't have support for this, anyway this can be included? Any reason why it was not inc

[2016-03-24 21:58] bhelx commented on #106
Hey @mzouitni

It may have been overlooked or the API feature may have been added and unnoticed. I would be happy to review your pull request.

[2016-03-25 23:01] pierre commented on #71
Any update on getting a sandbox just for Travis? Since we have lots of changes these days, this could be  quite useful.

[2016-03-25 23:01] bhelx commented on #97
Closed with https://github.com/killbilling/recurly-java-library/pull/104

[2016-03-25 23:01] #97 closed

[2016-03-28 13:37] mzouitni commented on #106
I have created PR #107 for this fix, let me know if I need to update anything else.
By the way, when is your next release?

[2016-03-28 17:19] bhelx commented on #71
@pierre this is on my task list for this week. I think it should be pretty quick. Expect a PR in the next couple days.

[2016-03-28 18:05] mzouitni commented on #106
Any idea when your next release is going to be?

[2016-03-28 18:16] bhelx commented on #106
That's a question for @pierre

[2016-03-28 18:19] pierre commented on #106
I was mainly waiting for https://github.com/killbilling/recurly-java-library/pull/108, since we have lots of changes. I'll cut 0.5.0 shortly afterwards.

[2016-03-28 18:27] pierre commented on #106
@bhelx Anything else you wanted in 0.5.0?

[2016-03-28 18:29] bhelx commented on #106
No, we can wait for the next release.

[2016-03-28 18:31] bhelx commented on #71
Closed with https://github.com/killbilling/recurly-java-library/pull/108

[2016-03-28 18:31] #71 closed

[2016-03-28 18:33] bhelx commented on #106
Closed with https://github.com/killbilling/recurly-java-library/pull/107

[2016-03-28 18:33] #106 closed

[2016-03-28 18:34] mzouitni commented on #106
#78 #90 and #107 are key for us.

[2016-03-28 18:37] pierre commented on #106
0.5.0 is on its way to Maven Central. It should be available in a few hours.

[2016-03-28 18:47] mzouitni commented on #78
I believe that this should be closed.

[2016-03-28 18:49] bhelx commented on #78
Closed with https://github.com/killbilling/recurly-java-library/pull/77

[2016-03-28 18:49] #78 closed

[2016-03-28 18:50] mzouitni commented on #106
Thank you!

[2016-03-29 20:24] bhelx commented on #105
@shrihubble https://github.com/killbilling/recurly-java-library/pull/109

[2016-03-29 20:35] bhelx commented on #96
@pierre From what I can tell, both 1.7 and 1.8 support TLS 1.1 and 1.2. Version 1.8 will do the negotiation properly on it's own but on version 1.7 we must pass in the protocol to the `getInstance` method on the SSLContext. Would you recommend that I make a PR against your killbill-plugin-framework-java project? What should the configuration look like? Should we just set the protocol to 1.2 automa

[2016-03-29 21:04] bhelx commented on #96
Or perhaps we can use the `setSSLContext` method on the config builder and allow the client to pass in their own context object?

https://asynchttpclient.github.io/async-http-client/apidocs/com/ning/http/client/AsyncHttpClientConfig.Builder.html#setSSLContext%28javax.net.ssl.SSLContext%29

[2016-03-30 13:08] pierre commented on #96
While it would be nice to have that piece of code shared, the Recurly client doesn't rely on killbill-plugin-framework-java (and I'm not sure we want to, since it would pull OSGI). So we would need to copy this code over (including the bits from [SslUtils](https://github.com/killbill/killbill-plugin-framework-java/blob/master/src/main/java/org/killbill/billing/plugin/util/http/SslUtils.java)).

I

[2016-03-30 15:15] jtvgithub commented on #96
I updated to 1.8 ... Sorry for the delay... I was on leave...

[2016-03-30 17:48] bhelx commented on #96
@jtvgithub thanks for updating us

[2016-03-30 17:48] bhelx commented on #96
@pierre I'll do a follow up PR

[2016-04-12 19:29] sudipta05 opened #112 "List all accounts"
How to list all accounts. getAccounts API is dependent on recurly.page.size ...
How can I change the cursor value as it is mentioned in https://dev.recurly.com/docs/list-accounts

[2016-04-12 19:36] #112 closed

[2016-04-12 21:57] bhelx commented on #96
We can consider this done for now due to https://github.com/killbilling/recurly-java-library/pull/110

I'm going to update our TLS deprecation docs and adding a README PR here:

https://github.com/killbilling/recurly-java-library/pull/111

[2016-04-13 08:39] #96 closed

[2016-04-13 18:27] bhelx commented on #105
Closed with https://github.com/killbilling/recurly-java-library/pull/109

[2016-04-13 18:27] #105 closed

[2016-04-30 00:40] jahskee3 opened #114 "Force TLS 1.1 or later"
Please confirm if adding these JVM args will force TLS 1.1 and TLS 1.2 client connection to Recurly Server?

-Ddeployment.security.TLSv1.1=true -Ddeployment.security.TLSv1.2=true

Thanks,
Jaizon

[2016-04-30 05:49] bhelx commented on #114
@jahskee3

Which version of the library are you using?

[2016-05-02 06:53] jahskee3 commented on #114
hi Bheix, its 0.5.1 Snapshot.

[2016-05-02 16:32] bhelx commented on #114
@jahskee3

The latest version includes code to force TLS1.2. There is an option to pass in a protocol string which you will find in the README:

[code]

Which version of Java are you running? Are you experiencing a problem?

[2016-05-02 20:31] bhelx commented on #114
@jahskee3 for reference: https://github.com/killbilling/recurly-java-library/pull/110/

[2016-05-06 18:24] steelThread opened #116 "Provide HTTP status code in RecurlyApiExceptions"
Would be beneficial for clients of this lib to include the reculy response http status code in the RecurlyApiExceptions thrown from RecurlyClient.  I'm trying to setup some retry logic for some situations, 500 level statuses namely, and I can't find a deterministic way for determining when I encounter this situation.

[2016-05-06 19:10] bhelx commented on #116
Hey @steelThread

Which situations do you with to retry on? I may be able to help you determine them without this feature. If not we can consider adding something in to help.

[2016-05-06 19:37] steelThread commented on #116
@bhelx - Thanks for getting back so quickly.  I have a few things here, I want to deal with intermittent network errors on our side.   Looks like I get back a null when the request fails with a ConnectException (ExecutionException really).  Think I have that covered.  The other conditions would be any of the 500 statuses, with these is there way to determine from the RecurlyApiException what the e

[2016-05-06 21:43] jahskee3 commented on #114
@bhelx , we are using Java 7. I will try passing the JVM param. Thank you!

[2016-05-10 12:00] steelThread commented on #116
@bhelx - any ideas here?

[2016-05-12 21:03] jahskee3 opened #117 "postpone subscription does not force renewal"
Hi,

Postpone subscription does not force renewal,
**recurlyClient.postponeSubscription(subscriptionR, renewalDate);**

Is there a better way to do force subscription renewal than using the postponeSubscription function?

Thanks,
Jai

[2016-05-14 16:28] jahskee3 opened #118 "Create new Subscription charge"
Hello,

Is there a way to force creation of subscription charge and payment?
and not thru adjustment?

Example: i am currently subscribed in 1 year. Then i want to force renew early to make it 2 years.

Thanks,
Jai

[2016-05-16 16:49] jaaknt commented on #116
+1 to idea, to include http response status code in RecurlyAPIException if
response.getStatusCode() >= 300

[2016-05-16 20:29] jahskee3 commented on #118
I have solved this issue, thanks

[2016-05-16 20:29] #118 closed

[2016-05-16 20:30] jahskee3 commented on #117
I have solved this issue thanks!

[2016-05-16 20:30] #117 closed

[2016-05-16 20:32] jahskee3 opened #119 "RecurlyClient persistent connection in Tomcat Spring"
Hi Dev,

Is it  ok to have 1 persistent Recurly connection in Tomcat thru SpringFramework

Will there be no issue like when it gets disconnected due to Tomcat server downtime,
does it maintain recurly connection without restarting Tomcat instance?

Thanks,
Jai

[2016-05-25 22:17] bhelx commented on #116
@steelThread Sorry this fell of my radar. Our API errors have descriptive information in them but there are situations where you may not get it (we've been having recent Cloudflare HTTP level errors for example).

For that reason, I'm fine with adding a the state code on the ApiError. Sounds like it would be a good addition. Unless one of y'all wants to take the task I am happy to add it.

[2016-05-27 12:22] steelThread commented on #116
That would be great @bhelx.

[2016-05-27 16:19] bhelx commented on #116
@steelThread This is on my queue. Will link back here when the PR is published.

[2016-07-05 21:55] qualidafial commented on #116
Can we do something about the null return value on a 500? Seems like this should also result in a `RecurlyAPIException`.

[2016-07-05 23:12] pierre commented on #116
@qualidafial Did you try https://github.com/killbilling/recurly-java-library/pull/120/files?

[2016-07-09 09:23] alex-konkov opened #122 "Specific Jackson version is required"
The issue is that recurly-java-library is sensitive to breaking Jackson changes. For example: with 2.5.0 it works, whereas with 2.5.3 it doesn't. Unfortunately, Jackson breaks things even publishing a minor release.

In reality this results in incompatibility issues when other libraries require specific Jackson versions. In such cases, projects are forced to stick to the Jackson that recurly-java-

[2016-07-09 13:05] #122 closed

[2016-07-09 13:06] alex-konkov commented on #122
Updated to recurly-java-library v0.5.0 and incompatibilities are gone.

[2016-07-12 17:40] pavellishin opened #123 "401 response from Recurly throws vague exception"
When receiving a 401 response, Recurly doesn't send any XML data, but a simple string:

`HTTP Basic: Access denied.`

This causes the following exception:

[code]

Only with logging set to WARN do you get a clue as to what is going on:

[code]

[2016-07-12 17:41] pavellishin commented on #123
Probably related to #116

[2016-07-13 12:39] mzouitni opened #125 "Missing tax fields on Invoice and Subscription"
Hi folks,
As we were trying to start processing the tax related fields that recurly sends as part of the invoice and subscription we noticed that your library doesn't have support for them, any reason why that is the case?

The fields in question are:
tax_type, tax_rate and tax_region.

Can we introduce these fields to invoice and subscription?

Thanks

[2016-07-14 16:59] bhelx commented on #125
@mzouitni  It's possible these were missed or they were added to the API and not added to this library. They should be easy to add. I'd be happy to review any PRs you may have to make this library work for your use cases.

[2016-07-15 03:03] mzouitni commented on #125
@bhelx I will make the changes

[2016-07-15 14:55] mzouitni commented on #125
@bhelx PR is created. When do you think you guys will have your next release?

[2016-07-15 16:03] bhelx commented on #125
@mzouitni I'll try to review the PR this afternoon and get it merged. It looks very straight forward.
@pierre generally handles the release schedule.

[2016-07-15 18:02] pierre commented on #125
@bhelx Once it's merged, could you re-run all regressions, including enterprise features?

Once I get the 👌, I'll cut a release.

[2016-07-15 18:06] bhelx commented on #125
@pierre sure thing 👍

[2016-08-05 14:37] edmundliang opened #137 "Android Studio DataTypeConverter error"
I am trying to create an instance of RecurlyClient using the recurly java library on my payment page in my android app on android studio, but I am receiving an error:

 java.lang.NoClassDefFoundError: Failed resolution of: Ljavax/xml/bind/DatatypeConverter;
 at com.ning.billing.recurly.RecurlyClient.<init>(RecurlyClient.java:144)
 at com.ning.billing.recurly.RecurlyClient.<init>(RecurlyClient.java

[2016-08-05 16:04] pierre commented on #137
Even if this is fixed, the underlying Async HTTP client isn't compatible with Android.

@bhelx can chime in but it seems that you would need to use https://github.com/recurly/recurly-client-android instead?

[2016-08-05 16:04] #137 closed

[2016-08-05 17:15] bhelx commented on #137
@edmundliang this library is not intended to be used client side (on the android device). It's not safe to ship your recurly API key with an application.

[2016-08-17 02:23] huijon opened #140 "Getting / deleting account adjustments has been changed in recurly's API v2.X"
For getting adjustments, the existing code uses the endpoint:
GET /accounts/{accountCode}/adjustments

But you can now get the adjustments by uuid:
GET /v2/adjustments/{adjustmentUuid}

Similarly, for deleting, the existing code uses the endpoint:
DELETE /accounts/{accountCode}/adjustment

but its been updated to:
DELETE /v2/adjustments/{adjustmentUuid}

[2016-08-31 22:03] peterjkirby opened #143 "Invoice model missing 'closedAt' datetime property"
According to the Recurly documentation [here](https://dev.recurly.com/docs/list-invoices), an invoice should have a datetime property called `closed_at`.

Unless I am mistakenly looking in the wrong place, I do not think that the current Invoice implementation has such a property.

[2016-09-01 17:22] bhelx commented on #143
I don't see it either. Would be happy to review a PR to add it or I can add it if you don't have the time.

[2016-09-20 00:53] huijon opened #145 "Subscriptions only allow you to add one coupon code"
There's only one method "setCouponCode" on a subscription. However, Recurly allows you to add
[multiple coupons for a subscription](https://docs.recurly.com/docs/coupons).

[2016-10-03 11:57] davegildea opened #147 "Invoice ID needs to be a string"
Hi Guys

Love your lib, its very helpful. One issue we have come across through is that the invoice id needs to be a string not integer. When we do a get invoice by invoiceid  there country code is included, like IE1023 and not just 1023. So if we just get the invoice by the integer part its picks the wrong one, if we include the country code it works perfectly.

It is something you have come acro

[2016-10-03 18:10] bhelx commented on #147
Hey @davegildea

So, we have two parts of an invoice id: A number and an optional prefix. The prefix part was added later so it looks like maybe this library was not updated to reflect that change. I can add another method to reflect this. Thanks for pointing it out!

https://github.com/killbilling/recurly-java-library/blob/master/src/main/java/com/ning/billing/recurly/RecurlyClient.java#L575

[2016-10-03 18:10] bhelx commented on #147
I'll be linking back here when the PR is out.

[2016-10-05 16:28] bhelx commented on #147
Closed with #148

[2016-10-05 16:28] #147 closed

[2016-10-05 16:35] davegildea commented on #147
Thanks guys, looks great!

[2016-10-05 18:15] bhelx commented on #143
@peterjkirby I went ahead and added this

[2016-10-05 18:41] bhelx commented on #140
@huijon I added these routes in PR #150

[2016-10-05 18:42] bhelx commented on #140
Thanks for pointing it out!

[2016-10-05 21:21] bhelx commented on #123
I agree, it's too vague. It should fail hard and let you know exactly what is wrong. Any feedback you could give me on an implementation would be helpful. This works but may require a little discussion https://github.com/killbilling/recurly-java-library/pull/151

[2016-10-05 21:55] bhelx commented on #103
I was never able to replicate this. I added a test case with your xml in the `TestSubscription` class:

[code]

This prints out:

[code]

Is this still a problem for you?

[2016-10-06 17:12] bhelx commented on #140
Closing with #150

[2016-10-06 17:12] #140 closed

[2016-10-06 17:13] bhelx commented on #143
Closing with #149

[2016-10-06 17:13] #143 closed

[2016-10-10 06:16] bhelx commented on #123
Closed with #151

[2016-10-10 06:16] #123 closed

[2016-10-13 21:45] bhelx commented on #103
I'm going to close this assuming it's not a problem on the latest library. Please re-open if you still think it's a problem we can fix for you.

[2016-10-13 21:45] #103 closed

[2016-10-25 14:19] bhelx commented on #54
Could not reproduce this. Please update your library to the latest version and let us know if you are still having this problem.

[2016-10-25 14:19] #54 closed

[2016-11-02 21:45] jfreeby opened #152 "revenue_schedule_type Null Pointer Exception"
We just recently upgraded to 0.6.2 and are getting exceptions when looking up some subscriptions:

com.fasterxml.jackson.databind.JsonMappingException: N/A (through reference chain: com.ning.billing.recurly.model.Subscriptions["subscription"]->com.ning.billing.recurly.model.Subscription["revenue_schedule_type"])

Caused by: java.lang.NullPointerException
	at com.ning.billing.recurly.model.Subscrip

[2016-11-02 21:59] jfreeby commented on #152
More info .....

The null pointer is happening in the method, where the revenueScheduleType is null and the call to toUpperCase fails.

public void setRevenueScheduleType(final String revenueScheduleType) {
    this.revenueScheduleType = RevenueScheduleType.valueOf(revenueScheduleType.toUpperCase());
}

[2016-11-02 22:50] bhelx commented on #152
Thanks @jfreeby

I'll take a look at this and try to reproduce it

[2016-11-03 00:42] jfreeby commented on #152
A simple null check fixed our issue.  Do you have any idea when this might make it to a release?  I have a custom version for now.

[2016-11-03 16:13] bhelx commented on #152
@jfreeby if you send a PR, it should be a short review.

[2016-11-03 21:37] jfreeby commented on #152
@bhelx Can you point to any instructions on sending a PR?  I just checked the code out with SVN and made the changes locally.  I'd be happy to send the code in any way possible.

[2016-11-03 22:09] bhelx commented on #152
@jfreeby You'll want to follow the standard Github procedure of forking the repository, creating a branch, and sending the PR into the master branch of this repo: https://help.github.com/articles/creating-a-pull-request-from-a-fork/

If you can't get this working, or do not feel it's worth your time, feel free to email me a diff and I'd be happy to create a commit crediting you. My email is ben@re

[2016-11-03 23:32] jfreeby commented on #152
@bhelx Thanks for the pointers

I forked and created a pull request.  Let me know you need anything else.

[2016-11-04 16:44] bhelx commented on #152
Thanks @jfreeby

[2016-11-09 17:28] #152 closed

[2016-12-02 21:45] bhelx commented on #145
@huijon Sorry, I have just seen this. You can have multiple coupons on an account, but I do not think the API allows adding multiple coupons to a subscription. Are you seeing that in the documentation?

[2016-12-05 22:36] huijon commented on #145
Hi @bhelx,
I think the documentation may have been updated recently to make it clearer. You can see it here:
https://dev.recurly.com/docs/update-subscription under the coupons section.

e.g.
`<coupon_codes>
    <coupon_code>savemore</coupon_code>
    <coupon_code>holidayspecial</coupon_code>
</coupon_codes>`

[2016-12-06 00:42] bhelx commented on #145
@huijon my mistake. Subscription does support a `coupon_codes`. I'll add it to this library.

[2016-12-06 00:47] huijon commented on #145
thanks!

[2016-12-15 16:58] #145 closed

[2016-12-16 19:21] mattcarrier opened #162 "Coupon is out-of-date"
Lots of useful features are not available in the current Coupon object, temporal durations for one.

[2016-12-17 20:05] #162 closed

[2016-12-19 14:55] mattcarrier commented on #162
@pierre @bhelx Any timeline on when a new release can be cut?

[2016-12-22 14:54] mattcarrier opened #164 "Release 0.6.3"
We need the coupon temporal duration stuff from #163, can a new release be cut?

[2016-12-22 16:12] pierre commented on #164
Yes @mattcarrier, we're working on it.

[2016-12-22 16:59] bhelx commented on #116
I believe this was closed with #120 and #123

Please reopen if this is not the case.

[2016-12-22 16:59] #116 closed

[2016-12-22 17:00] bhelx commented on #114
For anyone following here, PCI pushed this date all the way back to `June 30th, 2018` so this issue is on the backburner for now.

[2016-12-22 17:00] #114 closed

[2016-12-22 17:02] bhelx commented on #39
@mhgbrown this was added in https://github.com/killbilling/recurly-java-library/pull/157

[2016-12-22 17:02] #39 closed

[2016-12-23 03:06] pierre commented on #164
0.7.0 has been released.

[2016-12-23 03:06] #164 closed

[2016-12-23 14:18] mattcarrier commented on #164
@pierre sorry to be a PITA, we just have a feature that needs this functionality.  I appreciate your time spent.

[2017-01-11 22:38] jfreeby opened #166 "Get All Purchase Transactions fails"
<version>0.7.0</version>

When calling recurlyClient.getTransactions(TransactionState.SUCCESSFUL, TransactionType.PURCHASE , queryParams);

The call fails with a message:

<?xml version="1.0" encoding="UTF-8"?>
<error>
  <symbol>type_invalid</symbol>
  <description>Invalid type (must be one of authorization, purchase, refund)</description>
</error>

During execution, the following method is called

[2017-01-11 23:12] bhelx commented on #166
Thanks @jfreeby I'll try to reproduce this and get a fix ready

[2017-01-11 23:38] bhelx commented on #166
@jfreeby thanks for such a descriptive issue! It allowed me to reproduce and fix this quickly. If you have a moment, please take a look at https://github.com/killbilling/recurly-java-library/pull/168 to verify that it resolves the problem.

[2017-01-12 00:08] jfreeby commented on #166
Thanks @bhelx - Looking now

[2017-01-12 00:15] jfreeby commented on #166
@bhelx Looks good.  I also coded a solution, but yours is more elegant.

Thanks for the rapid response.  When can I check the code out?

[2017-01-12 15:51] cfrasineanu-intx opened #169 "Add support for Invoice Refunds"
Version 0.7.0 does not support invoice refunds. We can not use Transaction Refunds because our account was created after November 11, 2014.
According to Recurly docs:`We are moving to refunds through the Invoice object. Transaction refunds will no longer work if you have switched to Invoice Refunds in your Site Settings. If you created your site after November 11, 2014, you are automatically on In

[2017-01-12 17:06] bhelx commented on #169
Hey @cfrasineanu-intx

I believe you are right, this library seems to still use transaction refunds. It does support setting a `RefundOption` on a subscription termination, but it doesn't support the invoice refunding calls now available in the API.

I'll start a branch today to address this issue. It will link back here when it's posted for review.

[2017-01-12 20:26] cfrasineanu-intx commented on #169
I already have implemented the refund via https://dev.recurly.com/docs/open-amount-refunds
Let me know if u want to do it yourself or you can review my implementation.

[2017-01-12 22:12] bhelx commented on #169
@cfrasineanu-intx thanks for offering. I actually just noticed that we never fully made the switch over to supporting prefixed invoice numbers so I've decided to do that first #170 . I'm going to branch the refund changes off of that since I don't want to add more deprecated invoice methods. In the future feel free to submit any changes you would like to make and I'd be more than happy to review t

[2017-01-12 23:01] cfrasineanu-intx commented on #169
@bhelx Sounds good. Thanks!

[2017-01-13 15:02] cfrasineanu-intx commented on #169
@bhelx  I tried to use Guava v.21 in our application and got a runtime error because Recurly Java Library is using com.google.common.base.Objects#firstNonNull (which was removed Guava 21) in RecurlyClient class. This  method was deprecated in v.18 and it is recommended to use com.google.common.base.MoreObjects#firstNonNull instead. Is it possible to make the change in this branch or should I open

[2017-01-13 16:51] bhelx commented on #169
@cfrasineanu-intx I'd prefer we open another PR for that. We generally do one PR per change.

I'm should be getting the PR out today.

[2017-01-13 17:07] cfrasineanu-intx opened #171 "Replace uses of Guava's Objects#firstNonNull with MoreObjects#firstNonNull"
I tried to use Guava v.21 in our application and got a runtime error because RecurlyClient.java uses  com.google.common.base.Objects#firstNonNull (which was removed Guava 21). This method was deprecated in v.18 and it is recommended to use com.google.common.base.MoreObjects#firstNonNull instead. Thank you!

[2017-01-13 17:08] cfrasineanu-intx commented on #169
Thanks! Created https://github.com/killbilling/recurly-java-library/issues/171

[2017-01-13 17:10] cfrasineanu-intx commented on #169
PR for invoice refund will be out today?

[2017-01-13 17:15] bhelx commented on #171
@pierre do you know if this could be related to #73 at all?

[2017-01-16 09:13] #166 closed

[2017-01-16 09:22] pierre commented on #171
Not quite: the issue here is the incompatibility between both Guava versions (in-app vs the one used in the library). We should probably upgrade our version and get rid of the deprecated usages.

[2017-01-16 15:15] bhelx commented on #125
I can't find the specific PR, but looks like this was fixed in August, 2016. Please reopen if there are still problems.

[2017-01-16 15:15] #125 closed

[2017-01-21 14:25] #171 closed

[2017-01-24 02:20] pcarrier opened #174 "0.7.0 uses Guava API removed in Guava 21.0"
[code]

[2017-01-24 02:21] pcarrier commented on #174
`Objects.firstNonNull` was replaced with `MoreObjects.firstNonNull`.

[2017-01-24 03:21] pcarrier commented on #174
Already solved through https://github.com/killbilling/recurly-java-library/pull/173 ; down to waiting for a new release :)

[2017-01-24 03:21] #174 closed

[2017-01-24 10:35] pierre commented on #174
@pcarrier I'll create a new release once https://github.com/killbilling/recurly-java-library/pull/172#issuecomment-274265148 is fixed.

[2017-02-06 22:06] #169 closed

[2017-02-07 13:40] cfrasineanu-intx commented on #169
I appreciate it

[2017-02-15 19:51] bhelx commented on #33
I was not able to reproduce this. I'm assuming it's fixed. Please re-open if there still seems to be a problem here.

Also, NB: when you reference line numbers they get out of date pretty quick. You can push the `y` key which will switch you to a commit specific view. You can then click on the line number to get a permanent link. Example:

https://github.com/killbilling/recurly-java-library/blob/6

[2017-02-15 19:51] #33 closed

[2017-03-10 16:52] kansology opened #178 "Remaining_billing_cycles unavailable in subscription element"
Remaining_billing cycles is an element to subscription which tells how many renewals are left in the subscription. Null means the subscription will auto-renew. 0 means the subscription will expire at the next renewal. Will always change immediately, even if timeframe = renewal.

Currently client doesn't handle it. The fix is fairly simple and i already did it along with test coverage.
If the push

[2017-03-10 17:34] bhelx commented on #178
@kansology Thanks for reporting. A PR would be great! If you can't send it along I'd be happy to add the PR.

[2017-03-10 17:53] kansology commented on #178
@bhelx  just did the PR. Please have a look.

[2017-03-14 04:40] kansology commented on #178
Thanks @bhelx.
Can you please cut a release for this?

[2017-03-16 19:14] bhelx commented on #178
Closed with #179

[2017-03-16 19:14] #178 closed

[2017-03-16 19:15] bhelx commented on #178
@kansology I will work out a release with @pierre . I'd like to get our API v2.5 upgrade changes in for a release next week. We can piggy back this change onto that release.

[2017-03-20 12:38] cfrasineanu-intx opened #181 "Support refund of invoice line items"
See https://dev.recurly.com/docs/line-item-refunds. Thank you!

[2017-03-20 17:04] bhelx commented on #181
@cfrasineanu-intx I've added support for this in #175

https://github.com/killbilling/recurly-java-library/blob/master/src/main/java/com/ning/billing/recurly/RecurlyClient.java#L824

[2017-03-20 17:04] #181 closed

[2017-03-20 17:06] bhelx commented on #181
The description in the PR in #175 shows how to use it:

[code]

[2017-03-20 17:10] cfrasineanu-intx commented on #181
This method is not available in version 0.8.0:
`public Invoice refundInvoice(final String invoiceId, List<AdjustmentRefund> lineItems, final RefundApplyOrder order)`

[2017-03-20 17:19] bhelx commented on #181
@cfrasineanu-intx I don't think it's been released to mavencentral yet. @pierre can you confirm?

[2017-03-20 17:35] cfrasineanu-intx commented on #181
@bhelx It seems that #175 has not been released it. How soon can this be released because we need that functionality? Thanks

[2017-03-21 12:10] pierre commented on #181
@cfrasineanu-intx 0.9.0 has been released.

[2017-03-21 15:43] cfrasineanu-intx commented on #181
@pierre Thanks. It seems that the build failed.

[2017-03-21 17:16] pierre commented on #181
@cfrasineanu-intx Yes, Travis tests are flaky, but the release went through.

[2017-03-21 17:23] bhelx commented on #181
There is one bad integration test but I've verified it's okay. Going to send a PR for a fix as soon as I get the chance.

[2017-03-31 23:09] glasser opened #184 "Allow configuration of user agent"
As the user agent shows up in the recurly developer interface, it would be great if we could configure it to make it easier to ensure that our use of the library (and other vendors who use the library as well) is with proper API keys.

[2017-04-01 02:59] bhelx commented on #184
@glasser What do you wish to put in the user agent? I'm confused about the latter part related to "proper API keys".

The format of the user agent was designed so we can do analytics on our end. This allows us to segment users by things like their Java version and their library version. We use this information to make decisions when changing this library so we need to at least keep that part.

[2017-04-03 23:02] glasser commented on #184
This is probably easier with a bit of a story.

On Friday, we noticed some of our attempts to use Recurly (not via KillBill) were failing, and Recurly informed us that we were hitting their rate limits.  We asked them to describe the requests that were coming in and were alarmed to see requests that didn't match anything in any of our code, from an IP we didn't recognize, and with the User Agent "

[2017-04-03 23:22] bhelx commented on #184
@glasser Thanks for explaining that. Sorry that happened to you. We definitely recommend creating 1 API key per service. Not just for security reasons but also for you (and us) to easily identify problem services.

Here is what I'd suggest you do. Make a new key for this service. Mark it as `read-only` if they only need read access. You can also name it something descriptive like "fivetran". And u

[2017-04-03 23:25] glasser commented on #184
Yup, that's exactly what we are doing now — and more people in our organization now understand why the feature of having multiple API keys exists :)  It definitely was a little confusing to read "KillBill" as the user agent rather than "Recurly Java client" or something, since the actual KillBill library isn't actually involved.

Rate limiting API keys separately would be great — is that something

[2017-04-03 23:33] bhelx commented on #184
I can see how that would be the case. This has to do with the fact that this library was written by KillBill (http://killbill.io/) and we wanted to keep the user agent the same for analytics purposes. It's still not an official library but if it does become one we may change that.

Yes, I work at Recurly. I agree that would be a great feature but it was designed this way for capacity reasons. I co

[2017-04-03 23:45] glasser commented on #184
Just to be clear — everything is fine with us now as far as this library is concerned (we would like Fivetran to improve their integration's throttling, but that's a separate issue).

I'm merely suggesting that we might not be the only Recurly user to set up a non-engineer-focused tool like Fivetran without proper API key usage, and that a small improvement to user-agent identification might help

[2017-04-07 19:57] bhelx commented on #184
I don't think we are going to implement this because I feel like it would be better to work on informing merchants to use multiple API keys over implementing this in every library and asking all 3rd party services to customize the agent.

Also, once we implement OAuth this won't be a problem.

[2017-04-07 19:57] #184 closed

[2017-04-30 06:16] geoffcallender opened #185 "doGET does not distinguish between "not found" and timeout."
If the RecurlyClient suffers timeout, it logs "Execution error" and returns null. To the caller, it's indistinguishable from "not found". For example, when I tried to find an Account...

[code]

...and it timed out, a null account was returned rather than an exception. The following was logged (using version 0.8.0)...

[code]

...because RecurlyClient logged the exception but returned null...

[co

[2017-05-05 16:59] eodonohoe opened #187 "NoSuchMethod error when using Jackson 2.8"
[code]

[2017-05-05 17:08] bhelx commented on #187
@eodonohoe Thanks for submitting. How can we go about reproducing?

[2017-05-05 17:25] eodonohoe commented on #187
I'm  pretty sure upgrading to jackson version 2.8 or newer and attempting creating a subscription will cause the problem to happen.

[2017-05-06 16:16] #34 closed

[2017-05-06 16:16] #35 closed

[2017-05-09 18:33] bhelx commented on #187
Okay, I can confirm that we don't support this yet.

@pierre how do we go about fixing this? Should we try to bump up our version of jackson?

[2017-05-09 18:42] bhelx commented on #185
@geoffcallender I ran this code and got a successful 404:

[code]

It does seem to me like the expected behavior of a timeout would be an exception but perhaps `callRecurlySafeXmlContent` was designed that way for a reason.

@pierre do you have any input on that? Perhaps we can catch a Timeout exception of some kind of wrap it in a Recurly error.

[2017-05-09 20:14] pierre commented on #187
Happy to give it a try if there's indeed a **need** to upgrade, but I don't think we should upgrade it just for the sake of upgrading it:

* Jackson XML upgrades are notoriously difficult -- we've had to work around a few things in the past because of the specific XML format Recurly returns (nothing specific to Recurly, we had an issue in the [Kill Bill Accertify plugin](https://github.com/killbil

[2017-05-09 20:27] pierre commented on #185
It was indeed originally designed that way (`null` returned in case of system error, `RecurlyAPIException` in case of server-side error), but it's true that it can be confusing if one wants to programmatically handle these exceptions.

We could change this and throw a new exception (probably runtime, to avoid signature changes) instead, wrapping `IOException`, `ExecutionException` and `Interrupted

[2017-05-09 20:35] bhelx commented on #187
@pierre I figured this was the case. Is there a way for people who are using newer versions of jackson to get around this problem? Or would they be forced to downgrade to 2.5?

[2017-05-09 21:30] pierre commented on #187
Not really, unless we were to shade Jackson in our Jar. It would make the Jar bigger, but that way, we wouldn't have these dependencies issues. We could also provide two builds, one shaded and one non-shaded.

[2017-05-10 09:49] geoffcallender commented on #185
I stand corrected. If not found, then it does indeed return a RecurlyAPIException wrapping a 404. However, I like pierre's thought that everything other than success should throw an exception instead of returning null.

[2017-05-10 16:06] bhelx commented on #185
@geoffcallender I think I could go either way on the 404 interface. The way I see it, there are 2 ways people use 404s in our API.

  1. You are sending the request knowing that the account may or may not exist. In this case, it would make sense to return a null because an account not existing is not an "exceptional" case. It's something you expect will happen.
  2. You have a Recurly account code

[2017-05-16 13:03] cfrasineanu-intx opened #190 "Provide more info in FailedPaymentNotification"
Hello,
In our project we need to use the following data that Recurly returns in the failed_payment_notification webhook:
`<gateway_error_codes nil="true"></gateway_error_codes>
    <failure_type>Declined by the gateway</failure_type>`
I can make the necessary code changes.
Thanks!

[2017-05-16 16:28] bhelx commented on #190
@cfrasineanu-intx it's possible our webhooks parsers are a little behind. I'll merge any changes you want to make just tag me on the PR!

[2017-05-22 07:48] geoffcallender opened #193 "Account is missing vat_number element"
Please, I need this ASAP!!!

We need to charge tax based on the ship-to address (AKA the account's address), not the bill-to address (AKA the credit cardholder's address). Correspondingly, we need to set up the account's vat_number, not the BillingInfo's vat_number.

From https://dev.recurly.com/docs/account-object , Account Object's vat_number is "The VAT number of the account (to avoid having th

[2017-05-22 11:27] geoffcallender commented on #185
While you're there, another error to handle is ConnectException. I get these from time to time while testing, and they're temporary. Currently, RecurlyClient returns null.

 INFO [1894902783@qtp-2138564891-5] (RecurlyClient.java:1409) - Msg to Recurly API [GET] :: URL : https://goxpro-dev.recurly.com:443/v2/accounts/vDAI94MiRX/invoices?per_page=20
ERROR [1894902783@qtp-2138564891-5] (RecurlyClient

[2017-05-22 21:13] bhelx commented on #13
Closing this for now. Would love to have some more official docs in the future. I think think a combination of exploring the integration tests and using the official API docs is good for now:
https://dev.recurly.com/

[2017-05-22 21:13] #13 closed

[2017-05-22 21:15] bhelx commented on #36
It looks like these are covered now. https://github.com/killbilling/recurly-java-library/tree/master/src/main/java/com/ning/billing/recurly/model/push

If not please feel free to re-open.

[2017-05-22 21:15] #36 closed

[2017-05-23 07:44] #193 closed

[2017-05-30 21:29] bhelx commented on #190
Closed with #191

[2017-05-30 21:29] #190 closed

[2017-06-20 10:06] avinashmadireddy opened #200 "Unable to open recurly connection."
Caused by: java.lang.ClassNotFoundException: sun.security.util.HostnameChecker from [Module "deployment.seqnc-engine.war:main" from Service Module Loader]
        at org.jboss.modules.ModuleClassLoader.findClass(ModuleClassLoader.java:190)
        at org.jboss.modules.ConcurrentClassLoader.performLoadClassUnchecked(ConcurrentClassLoader.java:468)
        at org.jboss.modules.ConcurrentClassLoader.

[2017-06-20 17:04] bhelx commented on #200
@avinashmadireddy I'm not seeing anything from this library in the stack trace. What makes you think this library is responsible?

[2017-06-20 17:27] bhelx commented on #200
Sorry, I see the `com.ning.http.util.ProxyHostnameChecker.getHostnameChecker` now.

@pierre any ideas on what could be causing this? Perhaps some kind of dependency problem?

[2017-06-20 17:57] avinashmadireddy commented on #200
Yes, you are right. It's a dependency issue at my end. It's taken care.
Thanks.

[2017-06-20 17:57] #200 closed

[2017-07-19 22:31] CookieDuck commented on #187
+1 for a release that includes the preferred version of jackson with the library.  Running into a similar issue around Subscription marshaling

[2017-07-21 13:10] lc-ikrumov opened #203 "De-serialization failed for all push notifications since 20 July 20:49 GMT+2"
Hello all,

I have an urgent issue:
I think Recurly changed something in their push structure because I get errors since 20 Jul 20:49 GMT+2 from the Recurly Java library:

[code]

The error happens at least when processing the following pushes:
SuccessfulPayment
FailedPayment
CanceledSubscription
RenewedSubscription
NewInvoice
ClosedInvoice

My library is quite old: 0.5.1-SNAPSHOT

Is this problem

[2017-07-21 13:34] lc-ikrumov commented on #203
I compared the push payloads before and after the errors started happening:
OLD: <date type="datetime">2017-07-20T01:35:54Z</date>
NEW: <date type="dateTime">2017-07-21T07:18:44Z</date>

(this is in a 'transaction' node)
The change from 'datetime' to 'dateTime' is global for all DateTime fields.

I see in the source code, in RecurlyObject class, the dateTimeOrNull() method is expecting 'datetime'

[2017-07-21 14:19] lc-ikrumov commented on #203
Changing RecurlyObject.dateTimeOrNull() fixes the issue and failing tests pass. Tested the fix on a staging environment and no issues.
I will submit a PR soon but until then - what I changed:

`if (map.keySet().size() == 2 && "datetime".equals(map.get("type"))) {`
changes to
`if (map.keySet().size() == 2 && ("dateTime".equals(map.get("type")) || "datetime".equals(map.get("type")))) {`

I kept both

[2017-07-21 14:33] mzouitni commented on #203
@lc-ikrumov We are running into the same issue as well. Can't you just do equalsIgnoreCase instead of equals twice?

[2017-07-21 14:40] lc-ikrumov commented on #203
@mzouitni Yes, that is fine as well. I was more restrictive but it is not necessary.

Strangely, when I pull from master tests run successfully without any changes. Not sure if the issue is present in the current master.

[2017-07-21 14:45] mzouitni commented on #203
I was going to suggest having that check change for all types, I have no idea what recurly changed and why but I would not be surprised if they make that change to other types. I think the tests pass because you may not have updated the existing xml documents that the tests are using.

[2017-07-24 15:58] lc-ikrumov commented on #203
@mzouitni I think Recurly have reverted their change because I see the 'dateTime' changed back to 'datetime' for pushes sent as of 22 July. The pushes that failed would still need to be processed of course, but since Recurly tries periodically to retry the pushes it could be that it retried with the proper structure (not sure). You can check whether you still have unprocessed webhook updates from

[2017-07-25 15:22] drewish commented on #203
@bhelx is out on vacation but he mentioned this to me to follow up up. last week's deploy included an upgraded library. one of the changes was to update the XML generation to follow the spec which called for `dateTime` rather than `datetime`. when we heard this was a breaking change for some merchants we rolled out a fix to revert that.

i think going forward it would be best to do a string insens

[2017-07-27 23:38] hijklmno commented on #73
PR'd #205.

[2017-07-28 07:48] ssundaram-xactly opened #206 "AccountAcquisition API is missing"
I am using 0.11.0 version of the library. I need to populate AccountAcquisition details as part of the recurly account creation so that I can track the channel and campaign ID in recurly. I noticed that the model class for this object is missing and the CRUD methods for this object in RecurlyClient class is missing as well.

[2017-08-04 13:47] bhelx commented on #206
@ssundaram-xactly Sorry I'm just getting back. Seems like it is in fact missing. I'll add it today.

[2017-08-04 14:12] ssundaram-xactly commented on #206
Thanks @bhelx. When you add the support, can you add it as part of the Account object as well? Recurly supports creating the AccountAcquisiton as part of the Account object itself.

[2017-08-04 15:43] bhelx commented on #206
@ssundaram-xactly Yes, I'll add that. Thanks for reminding me.

[2017-08-04 19:58] lc-ikrumov commented on #203
The pull request is merged and the issue is fixed in the latest codebase.

[2017-08-04 19:58] #203 closed

[2017-08-07 16:39] pennstatephil opened #208 "BillingInfo missing "type" attribute"
`<billing_info href="https://your-subdomain.recurly.com/v2/accounts/1/billing_info" type="credit_card">`

[2017-08-09 16:56] bhelx commented on #206
Closed with #207

[2017-08-09 16:56] #206 closed

[2017-08-09 16:56] bhelx commented on #206
@ssundaram-xactly let me know if that makes sense.

[2017-08-09 17:16] ssundaram-xactly commented on #206
@bhelx Thanks for fixing this. I am using maven. Is the fix deployed to maven-central as part of the same version 0.11.0 ?

[2017-08-23 20:41] bhelx opened #211 "Extra "/" in account/balance request"
https://github.com/killbilling/recurly-java-library/blob/a0fcae2b623b70698e7c8975cea0cf2ea390f727/src/main/java/com/ning/billing/recurly/RecurlyClient.java#L283

This line results in the path `/accounts/<accountcode>//balance`

Should be:

[code]

This is not causing a problem but should be fixed. Reported by @elliottbernstein

[2017-08-23 21:10] elliottbernstein opened #212 "per_page=20 parameter on non-list endpoints"
Calls are being made to non-list endpoints with a `per_page=20` attached to the end. We see examples including calls to:

`/v2/accounts/:account_code/balance?per_page=20`
`/v2/accounts/:account_code/redemption?per_page=20`
`/v2/accounts/:account_code/billing_info?per_page=20`

This is not causing any errors, the calls are still successful, but the parameter should be removed.

[2017-08-28 08:32] geoffcallender opened #214 "Databinding problem with Jackson 2.9.0"
The pom currently specifies jackson 2.5.0, but I have other REST interfaces that pushed me to upgrade jackson. I've found that recurly-java-library works fine with 2.8.10 but not with 2.9.0.

The problem is that lazy loading fails. For example, after getting a Subscription, its Account href is null, its Invoice href is null, and so on. In a nutshell, 2.9.0 does not populate RecurlyObject's href.

[2017-08-28 08:41] pierre commented on #214
Jackson 2.9 isn't currently supported. See also the related discussion here: https://github.com/killbilling/recurly-java-library/issues/187#issuecomment-300287772.

A solution discussed in the past would be to provide shaded builds.

[2017-09-29 15:51] kansology commented on #208
@bhelx is this issue worked on?
Is there any planned release date for this?

[2017-09-29 17:12] bhelx commented on #208
@kansology I have a branch with the changes needed. I'll try to get it tested and up today.

[2017-09-29 17:21] bhelx commented on #208
@kansology @pennstatephil #217 parses the `type` attribute on billing info, however, this library does not make use of the associations (what you described above). You can only get the type from a BillingInfo object, not a link to one. If this is a problem let me know and I can help you with a workaround or we can look into how it would look to use the associations.

[2017-10-05 15:52] pennstatephil commented on #208
@bhelx Thanks so much for merging that. Could we get a release so we can integrate the new code?

[2017-10-05 16:19] bhelx commented on #208
@pennstatephil It will be included in the next release when @pierre pushes to maven central.

[2017-10-19 14:59] pennstatephil commented on #208
Hey again -- just happened to check on this, and saw #216 was merged a couple hours ago 🎉  -- does this mean a release is imminent?

[2017-10-19 15:04] bhelx commented on #208
@pierre Could you push a release when you get the chance? There should be a minor version bump due to some new validations in the new API version.

[2017-10-23 15:04] pierre commented on #208
@pennstatephil 0.12.0 released!

@bhelx Note that #216 was merged into `api_version_2_8` only and hasn't been released yet. What's the timeline for the merge?

[2017-10-23 17:22] bhelx commented on #208
@pierre I forgot about that. It's ready now: https://github.com/killbilling/recurly-java-library/pull/218

[2017-11-07 04:52] geoffcallender opened #219 "UnmarshalException because updated_account_notification not handled"
In 0.11.0, my web hook is receiving a POST that fails due to:

[code]

Are we missing a class UpdatedAccountNotification which is annotated with @XmlElement(name = "updated_account_notification")?

[2017-11-22 03:32] Radagan opened #221 "Missing address info"
Using the latest version of this library from maven (12), my test subscriptions do not return any billing, shipping, or account address information. They are all null despite showing up fine on invoices and in the account if you login. Any ideas? I'm new to Recurly...

[2017-11-23 00:15] Radagan commented on #221
Tried again with today's release of 0.13.0 and still now address info.

[2017-11-24 21:15] bhelx commented on #221
@Radagan When you fetch a subscription, it usually does not contain the account information embedded. You generally need to fetch the account separately. Can you provide some example code showing what you mean?

[2017-11-28 03:49] Radagan commented on #221
Thanks, I tried that but still nothing but nulls.

I'm running this directly in IDEA.

[code]

When I log into Recurly, each account shows a full address in the Billing Info section on the right. Any idea what I could be doing wrong? The Account name, code, etc. print correctly--just no Billing Info.

[2017-11-28 05:35] bhelx commented on #221
If you look at the account xml, you'll see that it does not contain embedded billing info. Here is an example:

[code]

In order to get the billing info for an account, you have to ask the server via the `RecurlyClient` (specifically the `getBillingInfo(String accountCode)` method. The `Account` instance is just a DTO. Example:

[code]

Keep in mind, you'll need to catch a 404 exception if the bil

[2017-11-28 05:39] bhelx commented on #221
Also keep in mind that this also applies to other parts of the account. If you want to get shipping addresses for instance:

[code]

[2017-11-28 06:50] Radagan commented on #221
Ah! Thank you! Relying on the Recurly client for everything works like a charm.

Is there a way to ask Recurly for a full Account object so that those convenience methods have a purpose?

[2017-11-28 06:51] #221 closed

[2017-11-28 16:08] bhelx commented on #221
@Radagan there currently isn't a way to do that. We've had to make some tradeoffs for performance reasons. If you are trying to do ETL or some other non-realtime process that requires a wide breadth of data, consider looking at our exports feature.

[2017-11-28 23:59] Radagan commented on #221
@bhelx Thanks again. My use here pretty much that, a backend process that sanity checks customer data in the cloud verses Recurly. I'm working on getting Notifications working properly, but don't want to fully rely on that. I appreciate your patience. I'm new to Recurly and current e-commerce systems in general.

[2017-11-29 04:06] bhelx commented on #221
No problem. Feel free to file any questions you have as issues and I'll help you out. I understand we are still limited in the documentation on this library.

If it's a non-realtime thing (like say it needs to be run once a day), I'd take a look at using exports. This is only available through the API if you have the professional or enterprise plan unfortunately.
https://docs.recurly.com/docs/expo

[2017-11-29 04:10] bhelx commented on #221
One more thing, you may want to look at date-range filtering to ease the number of calls you'll need to make. Every pageable endpoint takes a `QueryParams` object which allows you to filter and sort the objects. For example, you could get all the accounts that were updated in the last X days sorted in descending order.
https://github.com/killbilling/recurly-java-library/blob/d385ed7752090d241d2bfc

[2017-11-29 06:21] Radagan opened #222 "Problem setting up Notifications"
Me again. Thank you for your patience! I have a servlet that is receiving the xml properly, but when I pass the string into

[code]
I get the warning:
com.ning.billing.recurly.model.push.Notification - Enable to detect notification type, no type for ...

I've tried it with and without the xml element:
<?xml version="1.0" encoding="UTF-8"?>
But it still returns null for the type.

Here is my releva

[2017-11-30 01:49] Radagan commented on #222
It looks like this is actually a bug! Changing:

[code]
to

[code]

and notifications are parsed properly.

Cheers!

[2017-11-30 19:12] bhelx commented on #222
@Radagan can you explain why that fixed it? I can't see a reason. We have tests for this so I'll need to go in and see why they are still passing:
https://github.com/killbilling/recurly-java-library/blob/d385ed7752090d241d2bfc92be55bb2c46e30c49/src/test/java/com/ning/billing/recurly/model/push/TestNotification.java

[2017-11-30 23:17] Radagan commented on #222
I understand your confusion. The pattern match in the code should have worked--at least it looked good to me, which is why I stared at the code in Notifications.detect for so long before playing with it. In desperation, I made a copy of it locally in my class and played with the pattern match until it worked.

I'm still looking into this, but adding the open "<" character to the pattern works, and

[2017-11-30 23:37] bhelx commented on #222
Here is what I believe may be going on. I think it's matching all the way to the last `_notification>` at the end of the xml. Here is an example program:

[code]

I'll try to find out why this is passing the tests. Maybe there is a mistake we're missing. Perhaps something changed with regexes in Java8. I'm not sure yet.

[2017-12-01 01:22] Radagan commented on #222
Yes. That makes sense, and explains why my adding the "<" fixed it in a hackish way.

[2017-12-11 10:00] pierre commented on #222
Fixed in 0.13.1.

[2017-12-11 10:00] pierre commented on #219
Fixed in 0.13.1.

[2017-12-18 23:27] pennstatephil opened #224 "Missing gateway field in FailedPaymentNotification"
https://dev.recurly.com/page/webhooks#section-failed-payment
Inside the FailedPaymentNotification's Transaction, the Gateway tag is missing.

[2017-12-19 18:39] bhelx commented on #224
@pennstatephil thanks for letting me know. Happy to review it for y'all.

[2017-12-20 22:30] jfreeby commented on #187
We are also trying to upgrade to the Jackson 2.9 and see the issue.

It looks like RecurlyObjectsSerializer line 51 is where an issue is.  Apparently the method signature changed for GeneratorBase.getOutputContext.

Does anyone know why we need to call xmlgen.getOutputContext().writeFieldName(elementName); for Jackson version 2.5?

Could we even check the type in the code as follows (this might al

[2017-12-29 17:26] kansology commented on #224
Hi

Our requirement change and now we need to get the gateway error fields from the transaction endpoints and they also dont have same fields. Look for the transaction object.
is there any work already going on it?

[2018-01-01 19:27] kansology commented on #224
Hi @bhelx

Created a pull request for this.
Please review and merge.

[2018-01-08 17:10] kansology commented on #224
@bhelx

I just saw current build is failing after merge.
It doesnt seems to be directly connected with my change.

Can you please check, additionally by when we can expect the release for the library.

[2018-01-09 14:25] mpogra opened #227 "How to edit the add-on of Plan"
Hello,

Thanks for writing such nice lib and it's really helping us. We have integrated it nicely but came across the case that we want to edit the add-on associated with plan but we don't see anything like "updateAddOn" in recurly client. Is there anything we are missing or it is not yet available? As Recurly API does have edit add on API exposed at this [link](https://dev.recurly.com/v2.4/docs/u

[2018-01-09 17:38] bhelx commented on #227
At first glance, it just looks like we are missing that `updateAddOn` method. I'd be happy to add it for you or you can send a PR. I should be able to get time to do it today.

[2018-01-09 19:26] bhelx commented on #227
I'll go ahead and do this now since I have a some downtime.

[2018-01-09 19:47] bhelx commented on #224
@kansology we don't automatically publish releases. We usually wait until a few things pile up before we do a release. We can see about doing a release this week if you need it in the official release.

[2018-01-10 09:09] mpogra commented on #227
Thanks so much for understanding and help. Let us know when change is available.

[2018-01-11 20:55] kansology commented on #224
@bhelx That would be great.
We could really use a release with latest changes.

[2018-01-12 15:02] pierre commented on #224
Happy to do a release, but it looks like we need to fix Travis first. @bhelx might be an issue with the sandbox?

[2018-01-12 16:01] bhelx commented on #224
One test was failing locally and on Travis. Ill take a look at it and address in it’s own PR.

On Jan 12, 2018, 9:02 AM -0600, Pierre-Alexandre Meyer <notifications@github.com>, wrote:

[2018-01-18 16:27] kansology commented on #224
@bhelx @pierre
Do we have any expected timeframe for the API release?

[2018-02-16 09:30] geoffcallender commented on #219
Weird. With 0.13.1 I'm still getting this:

[code]

[2018-03-02 00:45] irphilli opened #233 "Dunning Notifications"
It would be nice to have dunning notifications supported by the killbilling library as well: https://dev.recurly.com/page/webhooks#dunning-event-notifications

[2018-03-22 16:19] mmichalko commented on #214
I would also welcome shaded official version, since now I have to build this library on my own.

[2018-03-22 16:22] mmichalko opened #235 "Missing Coupon enum Type "unique_code""
This coupon type is created in Recurly by selecting "Bulk unique codes" option.

Exception:
`com.ning.billing.recurly.shaded.com.fasterxml.jackson.databind.exc.InvalidFormatException: Can not construct instance of com.ning.billing.recurly.model.Coupon$Type from String value 'unique_code': value not one of declared Enum instance names: [single_code, bulk]
 at [Source: java.io.StringReader@63edf060;

[2018-03-22 19:49] bhelx commented on #214
@mmichalko see #225. Would love to get some help testing it and getting it working.

[2018-03-23 12:31] mmichalko commented on #214
@bhelx added a comment there.

[2018-03-23 14:24] m-revetria opened #236 "Exception "TokenBuffer cannot be cast to ToXmlGenerator" when parsing an invoice to a JsonNode"
Hi,
I'm seeing this exception when trying to parse an `Invoice` back to `JsonNode`. For this I'm using `RecurlyObject.newXmlMapper`. See the snippet below:

[code]

The exception's message is:

[code]

And this is the relevant part of its stacktrace:

[code]

To make it work, I've replaced the `serialize` implementation in `RecurlyObjectsSerializer` with the code below:

[code]

If it looks fine f

[2018-03-30 18:43] eodonohoe commented on #214
I believe putting @JsonProperty on the the RecurlyObject.setHref method fixes the issue with jackson-databind 2.9, need to keep the @JsonIgnore for on the getter.  From local testing this allows it to be read and not written.

[2018-04-04 20:01] jrg091 opened #240 "Missing address and shipping address in invoice"
I'm trying to get invoices from the API, but I can't retrieve invoices's address as it's shown int the API: [List invoices](https://dev.recurly.com/docs/list-invoices)

What I see it's that invoices's address and shipping address are not mapped in the invoice class:  [Invoices.java](https://github.com/killbilling/recurly-java-library/blob/master/src/main/java/com/ning/billing/recurly/model/Invoice

[2018-04-04 20:13] bhelx commented on #240
Seems to be missing the properties. I'll add them today.

[2018-04-06 14:17] jrg091 opened #242 "Mising properties on account's invoices"
When fetching an account's invoices it's seems there are some missing properties:

- `line_items -> adjustments -> proration_rate`
- `transactions -> transaction -> ip_address`
- `transactions -> transaction -> approval_code`
- `transactions -> transaction -> failure_type`
- `transactions -> transaction -> gateway_error_codes`
- `transactions -> transaction -> cvv_result`

Also there seems that` t

[2018-04-09 21:36] m-revetria opened #243 "Missing function in RecurlyClient to get Subscription Add-On's Usage"
Hi I'm using version `0.14.0` and seems that a function to get Subscription Add-On's usage is missing.

Reference: https://dev.recurly.com/docs/usage-record-object.

[2018-04-11 00:37] eodonohoe commented on #214
FYI
https://nvd.nist.gov/vuln/search/results?adv_search=true&cpe=cpe%3a%2fa%3afasterxml%3ajackson-databind%3a2.5.0

CVE vulnerabilities for jackson databind including 2.5.0:
CVE-2018-7489
CVE-2017-7525
CVE-2017-15095
CVE-2018-5968
CVE-2017-17485

[2018-04-12 20:02] jrg091 opened #244 "Coupon's plans - Empty entries"
I have a coupon assigned to all plans, in this case, when calling client's getCoupons, in the client's response I'm getting a list like: ["", "\n "] but in the API I get an empty array.

An example of the API response:

[code]

[2018-04-16 14:21] t-jarpis opened #245 "dueAt missing at dunning_event_notification"
dueAt is not available. dueOn is there, but is not used for dunning event notifications

[code]

[2018-04-23 07:13] pierre commented on #187
0.15.0 has been released.

[2018-05-07 20:57] m-revetria opened #251 "Missing function to get all available Invoices"
Hi I'm using version `0.14.0` and seems that there is not a function in order to fetch all available Invoices directly from Recurly without iterating through all existing accounts.

Reference: https://dev.recurly.com/docs/list-invoices

[2018-05-18 15:10] MiellyEllen opened #253 "Unable to Update Shipping Address"
The RecurlyClient class does not provide a way to update the Shipping Address for an account. There is an HTTP API
`PUT .../accounts/:account_code/shipping_addresses/:shipping_address_id`
to update the shipping address, but not in Java library. As an alternative, I tried to change the shipping address with HTTP PUT .../accounts/{accountId}) and provided the the shipping address in the request payl

[2018-05-18 17:54] bhelx commented on #253
@MiellyEllen It might just be missing. I'll check. If that's the case, I'll create a PR adding it.

[2018-05-18 18:16] MiellyEllen commented on #253
Thanks @bhelx! I modified the post because the Delete Shipping Address also appears to be missing.

[2018-05-18 18:16] MiellyEllen commented on #253
oops

[2018-05-18 18:17] bhelx commented on #253
@MiellyEllen no worries, I added all of them. PR incoming.

[2018-05-21 18:31] #251 closed

[2018-05-21 18:31] #253 closed

[2018-05-25 21:15] hijklmno commented on #235
PR'd in #255.

[2018-05-25 21:18] #235 closed

[2018-06-15 18:00] MiellyEllen commented on #253
Hi @bhelx , Thanks for working on this. But found a Recurly wrinkle. Updating the shipping address on an account (Post or Put) does not update  the shipping address for the subscription -- which is where the tax is calculated. Recurly support told us to invoke the Update Subscription API and use the same xml payload documented in Create Subscription for  <shipping_address></shipping_address>-- thi

[2018-06-15 18:04] bhelx commented on #253
@MiellyEllen If I remember correctly, the embedded shipping addresses (on a subscription for instance) are snapshots of the addresses.

I think in this case, since it's solving a reasonable use case, it's fine to add it to SubscriptionUpdate. I'll check to see if it's something we want to officially support and regression test on our end.

[2018-06-19 21:06] irphilli opened #259 "InvoiceCollection.getCreditInvoices not working"
If credit invoices are enabled on a site, InvoiceCollection.getCreditInvoices is not working.

Seems like it should return an Invoices object, instead of List<Invoice>

[2018-06-19 21:38] bhelx commented on #259
Hey @irphilli can you paste an error or some code demonstrating the problem?

[2018-06-19 21:46] irphilli commented on #259
There really isn't an error message or anything, but let's say we have an active subscription, and we want to preview changing its value to 0 (effectively would generate a credit invoice)

[code]

[2018-06-19 22:42] bhelx commented on #259
@irphilli thanks, I'll take a look at it. I'm just now realizing we don't have an InvoiceCollection unit test. I'll get that going too.

[2018-06-20 13:40] MiellyEllen opened #260 "Update Subscription Shipping Address"
Updating the shipping address on an account (Post or Put) does not update the shipping address for the subscription – which is where the tax is calculated. Recurly support told us to invoke the Update Subscription API and use the same xml payload documented in Create Subscription for <shipping_address></shipping_address>-- this is undocumented. I tried it out (with postman) and it works. But, prob

[2018-06-20 18:18] bhelx commented on #259
@irphilli I realized that the creditInvoices attribute didn't have an XmlElementWrapper annotation and that's why it wasn't parsing. I decided that adding that annotation would be more appropriate than returning Invoices in this case.

[2018-06-20 18:39] bhelx commented on #259
Okay, turns out I was slightly wrong. Instead I added a `CreditInvoices` wrapper for this attribute.

[2018-06-20 18:44] bhelx commented on #260
@MiellyEllen Do you have a branch with the changes? If not, I can put this on my queue to implement.

[2018-06-20 18:59] MiellyEllen commented on #260
Hi @bhelx , No I do not. Thanks for taking it up.

[2018-06-20 20:19] irphilli commented on #259
Thanks! I did something similar, but wasn't 100% sure if that was the right way to go. Looks good!

[2018-06-21 00:02] #259 closed

[2018-06-27 13:36] MiellyEllen commented on #260
@bhelx , any word on when you can start this? We have to do a manual work around for customers who change their shipping address until this is in place.

[2018-06-27 16:34] bhelx commented on #260
Hey @MiellyEllen, I'm going over my backlog this afternoon. Will see if I can move this to the front.

[2018-06-27 16:41] bhelx commented on #227
Closed with #228

[2018-06-27 16:41] #227 closed

[2018-06-27 16:41] bhelx commented on #224
Closed with #226

@kansology Please let me know if you haven't picked up this change yet.

[2018-06-27 16:41] #224 closed

[2018-06-27 16:44] bhelx commented on #214
Closed with #225

[2018-06-27 16:44] #214 closed

[2018-06-27 16:44] bhelx commented on #211
Closed with #213

[2018-06-27 16:44] #211 closed

[2018-06-28 19:49] bhelx commented on #260
@MiellyEllen just so i understand this before I start working on it, is this problem only on the `RecurlyClient#updateSubscription` method? If you could give me some code to demonstrate the problem, that would be great.

[2018-06-28 20:28] bhelx commented on #260
@MiellyEllen I've started a a PR #264 . I still have a little work to do on it. Let me know if it's going in the right direction though. See the updated integration test to see how it's used.

[2018-06-29 15:43] MiellyEllen commented on #260
@bhelx , Looks great but I should note that I have only tested the HTTP Update Subscription API where the whole shipping address is in the request payload. I then verified with the Recurly UI that a new Shipping address has been added.
I have not tried putting a shipping address id in the payload to see if that works too.

[2018-06-29 16:57] bhelx commented on #260
Thanks for confirming for me! I haven't tested it yet, but I see support for it in the server.

[2018-07-02 18:40] irphilli opened #265 "Credit Invoices: Add support for original_invoices"
With credit invoices enabled, the XML when you retrieve an invoice has an "original_invoices" element instead of "original_invoice".  Should add support for that element as well.

[2018-07-12 23:38] #260 closed

[2018-08-14 16:30] #212 closed

[2018-08-22 22:18] aaron-suarez commented on #187
Closing this issue because it was fixed by https://github.com/killbilling/recurly-java-library/pull/225

[2018-08-22 22:18] #187 closed

[2018-08-22 22:25] aaron-suarez commented on #119
Closing out this issue due to inactivity. @jahskee3 if you ever found out the answer to your question, consider posting your findings here for people who are also running Tomcat and Spring

[2018-08-22 22:25] #119 closed

[2018-08-22 22:41] aaron-suarez commented on #73
Guava is no longer marked as provided as of https://github.com/killbilling/recurly-java-library/commit/a1beb570763fdb00a2cc3fac76df8047cd9d5e3a

Closing this out. If I misunderstood something, please feel free to reopen

[2018-08-22 22:41] #73 closed

[2018-08-22 22:50] aaron-suarez commented on #208
This looks like it was fixed a while ago, closing this issue out. If it's actually not fixed, please feel free to reopen

[2018-08-22 22:50] #208 closed

[2018-09-01 00:09] omaric opened #278 "Possible Bug in Subscription"
In com.ning.billing.recurly.model.Subscription.getAccount(), a new account is fetched iff account is not null and the href is not null/empty. I would think that if whether account is null or not is irrelevant if it is simply going to be replaced with whatever is fetched. If account is null however, that seems like a good time to fetch the newest information instead of just returning null.

getInvo

[2018-09-18 19:15] cfrasineanu-intx opened #281 "Implement updates to webhooks for Credit Invoices Release"
When Credit Invoices Feature is enabled, Recurly sends charge_invoice_notifications and credit_invoice_notifications. The code needs to be modified to support these notifications. This link provide more details: https://docs.recurly.com/docs/credit-invoices-release#section-updates-to-webhooks

[2018-09-18 22:10] aaron-suarez commented on #281
Hey there @cfrasineanu-intx! Thank you for pointing this out. I was actually planning on going through and implementing _all_ of the missing webhooks in the next few weeks. You can see a complete listing of webhooks [here](https://dev.recurly.com/page/webhooks). If you're willing to wait, these will be implemented along with the rest of the webhooks.

If you need these particular webhooks implemen

[2018-09-19 12:28] cfrasineanu-intx commented on #281
Thank you @aaron-suarez ! Do you think that these webhooks will be released soon (let's say by mid-October). The Credit Invoices deadline is 11/01 (https://docs.recurly.com/docs/credit-invoices-release)

`On November 1, 2018, Recurly will enable the Credit Invoices feature on all sites that have not yet enabled the feature.`

[2018-09-27 12:46] cfrasineanu-intx commented on #265
We're gonna need this feature too. Any chance this will be released by mid-October.  According to Recurly:
`On November 1, 2018, Recurly will enable the Credit Invoices feature on all sites that have not yet enabled the feature.`
Thank you!

[2018-09-28 20:57] #265 closed

[2018-10-02 15:00] MiellyEllen commented on #281
@aaron-suarez I am a co-worker of @cfrasineanu-intx. We are happy to see that you created this PR yesterday.
Can I be able to make comments to your PR?

[2018-10-03 20:37] aaron-suarez commented on #245
Hi @t-jarpis! Thanks for your patience on this issue. The `due_at` tag is no longer going to be included in the `new_dunning_event_notification `, as it is replaced by the `due_on` tag. This change is related to the new [Credit Invoices](https://docs.recurly.com/docs/credit-invoices-release).

If your site is not already enabled with Credit Invoices, it will automatically change over November 1st.

[2018-10-03 20:37] #245 closed

[2018-10-03 20:51] aaron-suarez commented on #243
#239 Fixed this. Please upgrade to version 0.15.0 or later to take advantage of the `getSubscriptionUsages()` function.

[2018-10-03 20:51] #243 closed

[2018-10-03 22:11] #281 closed

[2018-10-04 15:45] MiellyEllen opened #286 "Question about Credit&Charge Invoice Subscription Array"
Hi Guys, Thanks for your work on the implementing the new webhooks.

I noticed in the XML examples of <new_charge_invoice_notification> and <new_credit_invoice_notification>(https://dev.recurly.com/page/webhooks#charge-invoice-notifications,) contains an array of subscription ids, while <new_invoice_notification> just contains a single <subscription_id> tag.
If we receive either of these new webho

[2018-10-09 16:55] aaron-suarez commented on #286
Well, the super unhelpful (but true) answer to your question is that `PushInvoice.getSubscriptionId()` will return `null` all the time because there is no `<subscription_id>` tag on the invoice level of the XML.

This question actually demonstrates an oversight wherein PushInvoice has no `getSubscriptionIdArray()` method to actually use the subscription IDs that are sent with the webhook.

I'm goi

[2018-10-10 14:56] MiellyEllen commented on #286
Thanks for the quick PR. So, Recurly will be phasing out the legacy invoices so there will be a period of time where we will need to support them as well as the new charge/credit invoices. It's ok that the legacy are marked @deprecated. Just don't take them away too soon :)

[2018-10-10 15:49] aaron-suarez commented on #286
We won't take them away until the code that produces them gets removed from Recurly App. They will probably remain in there marked as deprecated for a very long time

[2018-10-10 19:59] #286 closed

[2018-10-11 13:44] MiellyEllen commented on #286
Great. Any chance this can get published soon? That way we can code to it early into our sprint so our analyst can do some real testing as soon as possible. We'll give you our feedback

[2018-10-11 14:20] aaron-suarez commented on #286
The next release is scheduled for October 30th. Do you need it sooner than that?

[2018-10-11 15:05] MiellyEllen commented on #286
Yes, We have a recurly testing environment where we can actually start trying out the credit and charge webhooks  rather than waiting for the actual production drop of November 1st. We would like to shake out any bugs now as well as add extra regression testing for this new process.

[2018-10-11 20:43] bhelx commented on #286
@pierre Could we get a release out when you have some spare time?

[2018-10-12 13:04] pierre commented on #286
0.20.0 has been released 👍

[2018-10-12 13:53] MiellyEllen commented on #286
you guys rock! Thanks so much @pierre . Will let you know our testing results in the next couple weeks

[2018-10-12 16:30] bhelx commented on #286
Thanks @pierre !

[2018-10-16 17:50] aaron-suarez commented on #242
@jrg091 I'm about to implement these. I'm a little confused about your comment about `vat_number`. I just checked the response and I see the `<vat_number></vat_number>` tag coming from the API v2.15 under `transactions -> transaction -> details -> account -> billing_info`.

If you want to shed any light on what the difference is that you're seeing, I can see about fixing it.

[2018-10-18 15:42] aaron-suarez commented on #244
I think I was able to reproduce. I did the following:
[code]
And it printed this out:
[code]
I've never seen an array-like object printed like that before, this will be interesting to fix.

[2018-10-18 20:40] aaron-suarez commented on #244
I'm going to let @bhelx handle this. I can't figure out what configuration of Jackson we need to be able to parse this correctly.

[2018-10-18 23:02] #242 closed

[2018-10-24 18:19] aaron-suarez commented on #185
@geoffcallender  Both the `Connection refused` as well as the `connection timed out` messages come from an instance of `java.net.ConnectException`. The PR I just opened should take care of both.

[2018-10-24 18:39] aaron-suarez commented on #236
@m-revetria I would like to get a PR going for this change. I haven't tried out the code yet, but I don't see any immediate red flags. If you want to go ahead and open the PR, I'll pull down your code and test it out and if it looks good, I'll merge it in.

If for any reason you don't want to do a PR anymore, let me know and I'll open it myself to get this issue closed out.

[2018-10-25 17:32] MiellyEllen opened #295 "Recurly issue found when preforming Credit refunds"
Wanted to let you know about a recurly issue we found testing in our organization with NewCreditInvoiceNotification.
In the NewCreditInvoiceNotification, which is a refund, we need to get the original invoice using the invoice bundled with the notification. We lookup the invoice that came with the notification via the /invoices api and expect the original invoice (or just the original invoice id,

[2018-10-25 17:34] aaron-suarez commented on #295
Ok, thanks for the heads up. I'll be on the lookout for a decision to be made internally and close out this issue once whatever fix is made.

[2018-10-25 21:12] #185 closed

[2018-11-06 09:23] t-jarpis opened #297 "Accept-Language"
Is seems not possible to add a custom header like Accept-Language to return translated error messages.

[2018-11-07 20:01] aaron-suarez commented on #295
I see. So we need a `getOriginalInvoices()` method that fetches the Invoices array of original invoices. And having access to these original invoices would solve the original issue you brought up, correct?

[2018-11-07 20:20] aaron-suarez commented on #295
Actually, forget what I just said, this method already exists, it just exists on `recurlyClient`. Please use the following:

[code]

[2018-11-08 14:36] MiellyEllen commented on #295
Well, we found this issue by invoking the Invoice.getOriginalInvoice() method from an PushInvoice that was a CreditInvoiceNotification. Invoice.getOriginalInvoice() actually fetches the original invoice. So I would hope to follow that pattern. Having the Invoice itself fetch the original invoices.

But...would that mean there would be a new attribute on Invoice called originalInvoices????
And how

[2018-11-12 15:13] MiellyEllen commented on #295
Here's the response I received from Brittany in Recurly Support:

So, do you think the domain of Invoice will need a new attribute (List<Invoice> originalInvoices) to support the new CreditInvoices similar to what was done with adding List<String> subscriptionIds?

And if so, I think the Invoice.getOriginalInvoices() method should fetches them only if the the <original_invoices> tag is present.

[2018-11-13 20:11] bhelx commented on #236
@m-revetria I have to say, the fact that `RecurlyObject.newXmlMapper()` is exposed as public appears to be more of a convenience to the developers of this library. It's an implementation detail that shouldn't be exposed as part of the API. It's certainly our mistake for exposing it, but I feel like this is on the edge of what we can support. We never intended to support turning Recurly objects int

[2018-11-15 18:09] aaron-suarez commented on #295
From the example in [the Recurly Webhook documentation](https://dev.recurly.com/page/webhooks#credit-invoice-notifications), notice that the `<subscription_ids>` tag comes in as an actual array of subscription ids.

[code]

The original invoices, as you mentioned, come in as a link to the original invoices

[code]

The only reason we would need a new attribute (List originalInvoices) is if the API

[2018-11-16 15:38] MiellyEllen commented on #295
There are 3 reasons, most important to least.

1. Yes, the extra API call is a major reason. (Don't care if it is null)

2. It's my opinion that the pattern of  Invoice.getOriginalInvoice() (which automatically invokes the /invoices api if the original invoice id is present) should be followed here as well.

3. We have a converter class that creates a domain object given a Recurly Invoice. The con

[2018-11-19 23:49] bhelx commented on #295
@MiellyEllen I don't think any of your arguments are whiney and we genuinely appreciate the detailed feedback. We really can't make the library better without this kind of feedback and we don't get it from most of our customers.

I think some of this confusion is my fault. I decided to move away from using `RecurlyObject#fetch` and didn't do a good job of communicating that. There are a number of

[2018-11-20 14:42] MiellyEllen commented on #295
I am happy with that compromise. Thanks! Let's go with it! A boolean on the Invoice to tell if there are any original invoices. We start a new sprint next Week. Do you think it would be ready to use by then?

[2018-11-20 16:10] aaron-suarez commented on #295
I'll start work on that today

[2018-11-20 18:40] cyu521 opened #301 "using purchase endpoint does not return subscription ID for purchasing a new subscription"
the xml returned from recurly includes a url for subscription which has the subscription id in the url
[code]
if you can add the subscription url or parse it to get the ID and add it to the Adjustment class, that would allow purchase endpoint to return the subscription ID inside the chargeInvoice

[2018-11-26 22:18] aaron-suarez commented on #297
@t-jarpis, As you can see above, #298 adds a method to set the Accept-Language header. I have added the following note about thread safety to the PR description, and I wanted to make sure that you saw it before using this method.

NOTE: This is not thread safe. Consider the following situation:

[code]

[code]
These operations could interleave, such that `setAcceptLanguage()` gets called twice bef

[2018-11-28 18:32] #297 closed

[2018-12-04 17:53] aaron-suarez commented on #301
@cyu521 This is a good point, it might be useful to get the subscription ID related to a particular adjustment. I'm going to see if I can find a way to make this happen.

[2018-12-04 18:34] aaron-suarez commented on #301
The invoice also comes with a subscriptions tag:
[code]
Wouldn't it be better to just be able to get all the subscriptions for the invoice?

I feel like calling a method on the RecurlyClient to get these subscriptions would be more useful than just getting the ID, but maybe there's something about your use case I'm not thinking of?

[2018-12-04 18:49] cyu521 commented on #301
@aaron-suarez
In our case, I'm just looking to store the subscription ID.
we are using this subscription ID to handle update and cancel to that subscription.
we are only doing one subscription per purchase

[2018-12-04 19:41] aaron-suarez commented on #301
Ok, thanks for clarifying. I'll see what I can get going with this

[2018-12-04 21:00] #301 closed

[2018-12-11 19:58] cyu521 opened #307 "Webhook Notification missing resume_at date time field in subscription"
on `subscription_paused_notification` and `scheduled_subscription_pause_notification` XMLs
There is a resume_at field under subscription
[code]
Using
ScheduledSubscriptionPauseNotification, I tried to go to
scheduledSubscriptionPauseNotification.subscription.resumeAt and that field doesn't exists.
pause_at field exists, but resumeAt does not.

please add that field to the Subscription Object and w

[2018-12-12 17:46] #244 closed

[2018-12-12 17:53] cyu521 opened #309 "PausedSubscriptionNotification has incorrect class name"
Class `PausedSubscriptionNotification` has incorrect name, it should be `SubscriptionPausedNotification`
the xml root element is
`@XmlRootElement(name = "subscription_paused_notification")`
Based on the Notification detect function
`CaseFormat.LOWER_UNDERSCORE.to(CaseFormat.UPPER_CAMEL, root)`
(root is subscription_paused_notification)

it will return `SubscriptionPausedNotification`
But this clas

[2018-12-19 15:41] cyu521 opened #312 "ResumedSubscriptionNotification has incorrect class name"
Class ResumedSubscriptionNotification has incorrect name, it should be SubscriptionResumedNotification
the xml root element is
@XmlRootElement(name = "subscription_resumed_notification")

[2018-12-20 18:00] cyu521 opened #313 "Webhook Notification missing expires_at date time field in subscription"
on expired_subscription_notification XML
There is a expires_at field under subscription

<?xml version="1.0" encoding="UTF-8"?>
<scheduled_subscription_pause_notification>
    ...
   <subscription>
   ...
    <expires_at type="datetime">2010-09-24T22:05:03Z</expires_at>
  </subscription>
</scheduled_subscription_pause_notification>
Using
ExpiredSubscriptionNotification, I tried to go to
expiredSub

[2018-12-26 18:51] aaron-suarez commented on #313
@cyu521 The expires_at field is already on the Subscription class. `PushSubscription` extends `Subscription` so it should have a method called `getExpiresAt()`.

https://github.com/killbilling/recurly-java-library/blob/ac853e95e913b3e5f86bde4b5eeabb81076a2a1f/src/main/java/com/ning/billing/recurly/model/Subscription.java#L277

Have you tried using this method instead of trying to access that priva

[2018-12-26 19:02] cyu521 commented on #313
Thanks, I must've missed that!

[2018-12-26 19:02] #313 closed

[2018-12-28 21:12] #307 closed

[2018-12-28 22:36] aaron-suarez commented on #312
Closed by #311

[2018-12-28 22:36] #312 closed

[2018-12-28 22:36] aaron-suarez commented on #309
Closed by #311

[2018-12-28 22:36] #309 closed

[2019-01-02 18:43] cyu521 opened #314 "Update Maven Central with latest version"
Hey Guys,

thank you so much for addressing my issues so quickly and getting them merge in.

If possible, please update maven central with the latest version so I can use the latest code!

This is blocking a few of my current tasks, if you can get this in as soon as possible, I would greatly appreciate it!

Thanks,
Chong

[2019-01-02 22:01] aaron-suarez commented on #236
Closing this issue due to inactivity. Please feel free to re-open with an explanation of what exactly the change is doing and perhaps a test of various versions of Jackson so we can ensure it won't break different versions.

[2019-01-02 22:01] #236 closed

[2019-01-17 19:50] aaron-suarez commented on #314
@pierre Would you please go ahead and cut a release when you get a chance?

[2019-01-18 10:33] pierre commented on #314
Done!

[2019-01-18 10:33] #314 closed

[2019-02-25 14:38] musketyr opened #326 "infinite loop in BillingInfo.toString()"
`Account` prints `billingInfo` inside `toString()` method but the billing info is trying to print the `account` as well causing an infinite loop and `StackOverflowException`.

[2019-02-25 15:33] aaron-suarez commented on #326
Thanks for reporting the issue! We'll go ahead and take a look

[2019-03-11 23:02] aaron-suarez commented on #326
@musketyr Can you please provide a code sample that shows the problem? When I do the following:
[code]
the `BillingInfo` info is all `null` values because the XML only contains a link to the billing info. It looks like this:
[code]
When I actually get the billing info for the account and set it, like so:
[code]
The billing info has some values now, but it doesn't create an infinite loop in the acc

[2019-03-12 05:49] musketyr commented on #326
the problem can happen when you create new account and billing info

[code]

Typical example when you need to create billing info is when you are using `tokenId` for the first time.

[2019-03-12 16:12] bhelx commented on #326
@musketyr Possibly unrelated, but I don't think you need the line `info.setAccount(account);`. I believe `account.setBillingInfo(info);` should be sufficient.

[2019-03-12 16:20] aaron-suarez commented on #326
When you create an account with BillingInfo included, the account should include the billing info properties that you made in the `createAccount` request, and it should show up on the Recurly app website. The only time you need to use `createOrUpdateBillingInfo` is if you have subsequent changes to the billing info and need to update it, or if you created an account before collecting the billing i

[2019-03-12 18:28] demetrio812 commented on #92
Hello @bhelx
we just had the same problem and debugged it, the xml code that it send when I try to use and Account object received is giving an error, and even if we remove the adjustments from the request there are other tags that will push the server to return an error.

I've tried your solution and it works, but I think it's worth reopening this issue, unless you don't create a  sort of "reques

[2019-03-12 18:52] aaron-suarez commented on #92
@demetrio812 Just so we can verify the problem is the same, could you please post your code example and the XML that's being sent to the API?

[2019-03-12 20:45] demetrio812 commented on #92
Hello @aaron-suarez
Thanks for replying, this is the code:

    val plan = recurlyClient.getPlan(planCode)
    val account = recurlyClient.createAccount(accountData)
    val subscription = createSubscription(account, plan)
    recurlyClient.createSubscription(subscription)

The last call was producing the following xml:

    <subscription xmlns="">
        <plan_code>planTest</plan_code>
        <

[2019-03-13 22:21] #326 closed

[2019-03-14 16:40] demetrio812 opened #330 "Get account transactions: subscription is always null"
Hello,
everytime we get the list of the transactions, the subscription field is null.

We checked the xml returned by Recurly and there is no subscription field, there is a subscriptions field (plural) that looks like this:

    <subscriptions href="https://name.recurly.com/v2/transactions/<transaction_uuid>/subscriptions"/>

And that call will return an array of subscriptions connected to the tra

[2019-03-14 17:25] aaron-suarez commented on #330
It looks like API versions 2.0-2.7 had `subscription`, then 2.8 had both `subscription` and `subscriptions`, then 2.9+ just has `subscriptions`. I think it's just a relic of an earlier API version. If you'd like to do a PR to remove it, I'll be happy to review and merge

[2019-03-15 23:48] demetrio812 commented on #330
Hello @aaron-suarez , just created a PR

Let me know

Cheers,
Dem

[2019-03-28 14:43] mzouitni opened #333 "autoRenew not set on plan"
When you create a plan and call the `setAutoRenew(booleanFlag)` the value does not get set. Looking at the code the logic doesn't check the passed in parameter, instead it checks the Plan's autoRenew attribute if it is null or not and that check will always evaluate to null

[2019-03-28 15:49] mzouitni opened #334 "Can't set exempt flag when creating a Plan"
When I try to create a Plan I noticed that I cannot set the taxExempt flag, the Plan doesn't have this attribute. Any possibility to add it in?

[2019-03-28 21:22] bhelx commented on #334
Yes, I'll put this on our list for Monday. I'll make sure we aren't missing any other attributes on that class as well.

[2019-03-28 21:23] bhelx commented on #333
Also adding this on the tasklist for next week. Thanks for reporting!

[2019-04-01 12:30] mzouitni opened #335 "host validation in 0.25 version"
Our local development makes recurly calls against a mocked server, when we upgraded to 0.25 we noticed that the code does host validation. Is it possible to add an option to bypass the validation in the scenario where we are testing?

[2019-04-01 17:19] bhelx commented on #335
We're open to ideas and PRs, but it's a security concern so we should be careful about how it gets to the public interface. Our primary concern is people accidentally disabling the hostname whitelisting in production.

[2019-04-02 17:55] #333 closed

[2019-04-03 16:32] aaron-suarez commented on #92
@demetrio812 You have a function, apparently, called createSubscription
[code]
Can you please paste the code for that function?

Also, it looks like the XML you posted is the response from the server (I could be wrong on that, but I don't think the client sends a `created_at` and `updated_at` for example). It would be helpful to have the XML that is being sent by the client

[2019-04-03 16:53] aaron-suarez commented on #92
Oh, I see what's happening. You're setting the account on the new subscription as the exact account object that you get back from the API when you do `createAccount`, and that produces unacceptable XML tags. The proper use of the library is to set the reference account as displayed above. And this is confusing because it seems like there's no reason not to pass the full account object when it's re

[2019-04-03 23:15] aaron-suarez commented on #92
So part of the problem is that Jackson is doing exactly what it needs to do for most use cases. In the case of `adjustments` specifically, when the library creates the Account object based on the XML from the API, it creates an empty `Adjustments` object. This class extends `ArrayList`, so you could do something like
[code]
This would prevent an empty tag from serializing. But, of course, you'd ha

[2019-04-03 23:15] #92 closed

[2019-04-10 22:23] aaron-suarez commented on #334
Closed in #336

[2019-04-10 22:23] #334 closed

[2019-04-10 22:24] aaron-suarez commented on #330
#331 will close this out

[2019-04-10 22:24] aaron-suarez commented on #330
Apparently those are some magic words

[2019-04-11 22:13] mzouitni commented on #335
What about skipping this validation if the site is on dev mode and impose the check of the recurly site is in prod mode ?

[2019-04-11 22:55] bhelx commented on #335
I don't think there would be a way to know that without calling the server. Still open to doing this in some way, it just has to be pretty painfully obvious to the programmer that what you are doing is disabling SSRF protection.

[2019-04-12 00:46] mzouitni commented on #335
I don’t think it is the best solution but I agree with the concern.

[2019-04-18 08:00] surajmaher opened #338 "Missing tax_code, accounting_code and optional fields on AddOn object"
It looks that following fields which are present on Recurly Admin UI and in other client libraries are missing in Java AddOn object.

Following is the link - https://dev.recurly.com/docs/plan-add-ons-object.

Missing fields
- tax_code
- accounting_code
- optional

[code]

[2019-04-18 08:11] surajmaher opened #339 "Missing tax related fields on Adjustment object"
It looks that following fields which are present in other client libraries are missing in Java Adjustment object.

Following is the link - https://dev.recurly.com/docs/adjustment-object.

Missing fields
- tax_code
- tax_rate
- tax_type
- tax_region

[code]

We currently only need tax_code field but adding other missing fields as well in case they amount to same work.

[2019-04-18 15:25] aaron-suarez commented on #339
@surajmaher Thanks for pointing out these missing fields! We'll get a fix in for these as well as #338 soon

[2019-04-29 20:41] nwarz commented on #335
+1 for an option to bypass hostname validation, but I don't know the best way to emphasize that it should be for testing only.

[2019-04-29 20:47] #338 closed

[2019-04-29 20:47] #339 closed

[2019-04-29 20:56] x80486 commented on #335
You should be able to present this as _configuration_, with some defaults — what you have now; but there must be a way to override the value(s) as needed.

Pretty much all libraries that make outbound HTTP calls provide a way for you to change that, falling back to some defaults. I can think of `EndpointConfiguration` for AWS libs, for instance.

[2019-04-29 23:08] bhelx commented on #335
I'm still open to this being configurable if anyone has a suggestion for the interface. My primary concern is that the programmer is able to accidentally disable SSRF. That could be mitigated if we add some validation that this list cannot be empty: https://github.com/killbilling/recurly-java-library/blob/master/src/main/java/com/ning/billing/recurly/RecurlyClient.java#L125
As long as the programm

[2019-04-30 17:54] aaron-suarez commented on #335
Should we just add a public setter method, but also a check for `if ( (validHosts == null) || (! validHosts.Any()) )` in this method?

https://github.com/killbilling/recurly-java-library/blob/5e05eedd91885a51e1aa8293bd41139d082cf7f4/src/main/java/com/ning/billing/recurly/RecurlyClient.java#L2343-L2353

[2019-04-30 22:16] bhelx commented on #335
I'm okay with a public method to add another valid host. I think we only need to validate validHosts when it changes and probably not every time we call `validateHost`. I also thing we should log some kind of message warning the programmer. Open to other ways to do it if there is an argument for security.

Once again, want to point out that we're okay with configuring this check, but not allowing

[2019-05-08 16:18] pennstatephil opened #341 "Missing fields in SubscriptionUpdate model"
**Describe the bug**

As #35 said (it was closed without being fixed) there are multiple missing fields for updating subscriptions. Full list at https://dev.recurly.com/docs/update-subscription

**To Reproduce**

Attempt to use a field that isn't in the model, it's not there.

**Expected behavior**

All fields are available for use.

**Your Environment**

Latest version of library
Java 1.8

[2019-05-08 16:31] aaron-suarez commented on #341
We'll take a look, thanks for reporting this

[2019-05-20 16:09] #341 closed

[2019-07-01 19:29] aaron-suarez commented on #335
Closing this out due to inactivity. If anyone would like to open a PR adding some code (probably not in `validateHost`) that will allow the programmer to add additional valid hosts, we'll be happy to review and merge, assuming it meets our security requirements. Thanks!

[2019-07-01 19:29] #335 closed

[2019-07-02 17:21] mhp0rtal opened #348 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/com/ning/billing/recurly/RecurlyJs.java: Line number => 104: API name => SecretKeySpec:<BR> File name => src/main/java/com/ning/billing/recurly/RecurlyJs.java: Line number => 104: API name => SecretKeySpec:<BR>

[2019-07-02 17:36] aaron-suarez commented on #348
Thank you for your comment @mhp0rtal. The version of Recurly.js that `src/main/java/com/ning/billing/recurly/RecurlyJs.java` uses is deprecated. We should really take that file and all related code out of the library altogether. This would solve the cryptographic API problem as well as the deprecation problem.

[2019-07-12 05:15] benj1502 opened #349 "Malformed XML mapped when adding multiple coupon codes"
Hello,

**Describe the bug**

The issue I'm facing is that: whenever I try to call the "create subscription" or "preview subsription" with a subscription that we have set a list of coupons into always return the XML malformed error. It complains that tag <coupon_codes> should contain only sub tag <coupon_code> (code without 's').
Recurly tech guy provided me the malformed part:

[code]

which is s

[2019-07-12 14:43] aaron-suarez commented on #349
Thank you for your report! We'll take a look and get this resolved

[2019-07-17 20:56] #349 closed

[2019-07-17 21:01] aaron-suarez commented on #349
@benj1502 Is this a blocker for you? If so, we'll go ahead and release this fix early, otherwise I believe the next API version is coming out at the end of August so this would end up going out with that release.

[2019-07-18 05:41] benj1502 commented on #349
Hello Aaron, thanks for checking in. This unfortunately is a blocker for us, we're supposed to release our related implementation by end of this week... So if possible could you guys release this fix early?

Thank you,
Ben

[2019-07-18 14:02] aaron-suarez commented on #349
@pierre When you get a chance, could you go ahead and cut a release to unblock @benj1502? Thank you so much!

[2019-07-19 12:57] pierre commented on #349
0.29.0 released!

[2019-07-19 15:56] aaron-suarez commented on #349
Thanks Pierre!

[2019-07-19 21:10] benj1502 commented on #349
Thank you for the effort, we'll check it out!!!

Cheers!

[2019-07-26 19:02] aaron-suarez commented on #330
Closed #331 due to inactivity. We'll leave this issue open until someone has a chance to make the required change with the suggestions listed in the closed PR.

[2019-07-30 22:29] benj1502 opened #353 "Missing the previewInvoice API call"
Hello, it looks like you guys don't have a method created in RecurlyClient.java in order to make a call to the Preview Invoice endpoint below.
https://:subdomain.recurly.com/v2/accounts/:account_code/invoices/preview
Would it be possible if you can implement one? We're actually in a critical situation right now realizing we don't have the method needed.

Thank you very much!
Ben

[2019-07-31 15:27] bhelx commented on #353
@benj1502 I believe this is implemented as `Client#previewInvoice`. You might also want to look at `Client#previewPurchase` as well. I'd recommend you use previewPurchase over previewInvoice unless you have a reason not to:

https://github.com/recurly/recurly-client-java/blob/d0583c305222570c7e141f2e7738eeef3505fd4e/src/main/java/com/recurly/v3/Client.java#L436
https://github.com/recurly/recurly-c

[2019-07-31 15:30] bhelx commented on #353
@benj1502 Apologies, I just linked information from the wrong library. I believe it may not be implemented because we want to encourage people to use `previewPurchase` instead:

https://github.com/killbilling/recurly-java-library/blob/17c419aad79e8060bde32516e6ac4dc8a9f72618/src/main/java/com/ning/billing/recurly/RecurlyClient.java#L1915

Does that work for your use case?

[2019-07-31 19:17] benj1502 commented on #353
Hi @bhelx , unfortunately it does not, the reason why we looked for that "preview invoice" method was because "previewPurchase" does not work for our scenario...

[2019-07-31 21:19] bhelx commented on #353
@benj1502 could you explain your use case? I'm curious to know. Happy to get the `previewInvoice` method in here regardless.

[2019-08-01 22:01] benj1502 commented on #353
Our scenario is that we allow users to subscribe to a plan, which has a free trial period, and we have a requirement to allow user entering the promo code, we need to display the final price after being discounted upfront so that users can see before they actually hit the Subscribe button. We tried previewSubscription, previewPurchase, they don’t work because user has not actually been charged yet

[2019-08-02 19:08] iwaisman opened #354 "Status 422 errors are not de-serialized properly"
422 Errors resulting from a RecurlyClient.createOrUpdateBillingInfo() call are not de-serialized properly. The resulting TransactionErrorException has no relevant info; all members are null

The following is an excerpt from a scala REPL:
[code]

I believe the problem is [here](https://github.com/killbilling/recurly-java-library/blob/02cd99d9eea43ceca60088c8927deaf5a199e2f5/src/main/java/com/ning/b

[2019-08-07 18:26] slisaasquatch opened #355 "Key agnostic client interface"
In my use case, I need the ability to pass in a different API key per request. I actually already went ahead and implemented it myself, along with some other cleanups.

Here's the diff: https://github.com/killbilling/recurly-java-library/compare/master...saasquatch:key-agnostic-io, and I want to get some feedback before I create a pull request, if that's something you guys are interested in.

Here

[2019-08-23 10:59] mrbkiter opened #359 "Ning recurly failed to parse Recurly error"
When calling Recurly APIs using this lib, I sometimes got this error:

https://***.recurly.com:443/v2/accounts/localhost.vinceredev.com/billing_info

`<?xml version="1.0" encoding="UTF-8"?>
<error>
<symbol>simultaneous_request</symbol>
<description>A billing info change for account localhost.vinceredev.com is already in progress</description>
</error>`

Unfortunately this lib is unable to parse th

[2019-08-23 17:27] bhelx commented on #359
Thanks @mrbkiter

We are investigating. Could you let us know which version of the java library you are using? Is the error unexpected in general, just the failure to parse the error, or both?

[2019-08-26 02:36] mrbkiter commented on #359
Hi @bhelx

Im using version 0.29.0. My reproduce steps are:

1. Using recurly.js latest version, I created a processing transaction (I got transaction token)
2. Recurly server return 3d secured action token. I don't use it but just reload the page to reinitialize another transaction.
3. Repeat step 1 again, you will get exception above from recurly server.

From my perspective, this issue  possibl

[2019-08-26 02:56] mrbkiter commented on #359
More info, the Error status code: 422 for this issue

[2019-09-09 07:23] mrbkiter commented on #359
One example I got today:

Recurly error whilst calling: https://***.recurly.com:443/v2/subscriptions
<?xml version="1.0" encoding="UTF-8"?>
<error>
<symbol>token_invalid</symbol>
<description>Token (billing_info.token_id) is either invalid or expired</description>
</error>

[2019-09-11 15:32] williamho commented on #359
I think this is the same underlying issue as https://github.com/killbilling/recurly-java-library/issues/354 and would be fixed by this PR: https://github.com/killbilling/recurly-java-library/pull/360.

Currently the library is expecting all 422 errors to be transaction errors (of the form `<errors>...</errors>`) when the reality is that sometimes it can be a single error (`<error>...</error>`)

[2019-09-14 00:42] #354 closed

[2019-09-14 00:42] bhelx commented on #359
Thanks @williamho. Closed with https://github.com/killbilling/recurly-java-library/pull/360

[2019-09-14 00:42] #359 closed

[2019-09-25 21:31] jan-ee opened #361 "Add credit_payments field to Invoice"
Hi! I was wondering if it would be possible to get the "credit_payments" field added to the Invoice.java object.

[code]

Thank you!

Jan

[2019-09-25 23:06] jan-ee opened #362 "Implement /invoices/:invoice_number/subscriptions in RecurlyClient"
Hi! Is it possible to get the /invoices/:invoice_number/subscriptions endpoint implemented in RecurlyClient.java?

[code]

Thanks!

Jan

[2019-09-25 23:24] jan-ee opened #363 "Is "Recurly-Skip-Authorization" possible?"
Hi! We have some accounts that we need to migrate from our old billing system into Recurly. i found that there is a "Recurly-Skip-Authorization" header that can be used to prevent a credit card from being authorized again when getting imported into Recurly. (Something like `.addHeader("Recurly-Skip-Authorization", "true")`).

Is there a way to access this functionality, or a way to add custom head

[2019-10-22 14:09] cyu521 opened #365 "Missing header from generateUniqueCodes response"
**Describe the bug**
When calling generate unique codes, i expected to get back the cursor of where the coupon code is generated. Currently, this function is a void function.

for this endpoint
https://dev.recurly.com/docs/generate-unique-codes

Based on the description, there is a cursor in the location header.

[code]

Currently the function is a void type, expected behavior is to return an obje

[2019-10-23 15:20] cyu521 commented on #365
Currently this is creating a race condition in our production environment.

We are sending two users the same coupon code if the coupons are generated at the same time.
Which happens since a third party is running a batch job to ask us to generate coupons.
Getting the cursor would help us resolve this issue by allowing us to fetch the correct coupon code per request

[2019-10-24 18:36] joannasese commented on #365
Hi @cyu521.

So we can identify if this is a bug, can you help us reproduce this?

[2019-10-24 18:45] cyu521 commented on #365
To generate a new coupon, i was calling

`generateUniqueCodes(couponPrefix, coupon)`
then to get that new coupon that i generated,
[code]
I expect the first redeemable state to be where the coupon list is sorted by created at, to be the one i created.

I am getting a race condition because i called this endpoint within milliseconds apart, they both generated a new coupon, but because they're so cl

[2019-10-24 19:08] slisaasquatch commented on #363
Disclaimer: I'm not a developer of this library, but I'm kind of familiar with how this library works because I've been maintaining 2 forks in recent years.

In its current form, it's not possible to add headers, but it shouldn't be crazy to add the feature in. If the developers of this library is interested, I can add it in my fork mentioned in this ticket https://github.com/killbilling/recurly-j

[2019-10-24 21:16] slisaasquatch commented on #355
So a little update for my fork. I created another branch with a different approach. Instead of having a complete separate class `KeyAgnosticRecurlyClient`, I instead added the ability to add your own headers to `QueryParams`, which can be used to override API keys. I think this approach should be more maintainable. Here's the diff: https://github.com/killbilling/recurly-java-library/compare/master

[2019-10-24 21:49] slisaasquatch commented on #355
Oh and this can also fix https://github.com/killbilling/recurly-java-library/issues/363

[2019-10-25 08:14] pierre commented on #355
@killbilling/recurly FWIW, in Kill Bill's Java client, we took the approach of adding an extra `RequestOptions` parameter to each API call. See [createAccount](https://github.com/killbill/killbill-client-java/blob/42ebdf514e09bc51a68c9b6d69904915f8db481e/src/main/java/org/killbill/billing/client/api/gen/AccountApi.java#L162) for instance. This [object](https://github.com/killbill/killbill-client-j

[2019-10-25 21:24] joannasese commented on #365
[code]

[2019-10-25 21:29] joannasese commented on #365
Would something like this address your issue, where `generateUniqueCodes()` returns accessible values?

[code]

[2019-10-25 21:57] cyu521 commented on #365
Yes! Something like that would be great.

Another solution is to just return the cursor and I can set it as query param for the get unique coupon function

[2019-10-30 21:13] joannasese commented on #365
Hi @cyu521.

Please take a look at [this PR](https://github.com/killbilling/recurly-java-library/pull/366/files). If these changes work for you, you should be able to access coupon codes.

[code]

[2019-10-30 21:37] cyu521 commented on #365
hi @joannasese !

the changes looks good!

thanks!

[2019-10-31 16:35] joannasese commented on #365
@cyu521 Excellent! I'll close this issue. Please reach out if you need assistance in the future.

[2019-10-31 16:35] #365 closed

[2019-11-14 18:59] joannasese commented on #361
Hi @jan-ee. Missed this one! Sorry about that. Just wanted to let you know there are eyes on it.

[2019-12-10 15:35] joannasese commented on #362
Hi @jan-ee. Your request has been completed: https://github.com/killbilling/recurly-java-library/pull/373. The change will be included in the next release/patch. I'm going to go ahead and close this issue. Let us know if you have any questions.

[2019-12-10 15:35] #362 closed

[2019-12-10 17:02] jan-ee commented on #362
Thank you so much!

[2019-12-11 22:00] joannasese commented on #361
Hi @jan-ee. https://github.com/killbilling/recurly-java-library/pull/371 closes this out. Thanks for your contribution!

[2019-12-11 22:00] #361 closed

[2019-12-11 22:07] jan-ee commented on #361
Thank you!

[2019-12-13 21:40] joannasese commented on #330
Hi @aaron-suarez and @demetrio812. https://github.com/killbilling/recurly-java-library/pull/374 closes this out. Thanks for contributing!

[2019-12-13 21:40] #330 closed

[2019-12-23 21:34] joannasese commented on #363
Hi @jan-ee. Picking this up. Is this a mission-critical feature/something you still need?

[2019-12-30 17:45] jan-ee commented on #363
Hi @joannasese. No, this is not something we really need. After analyzing our code, it was only used during the initial import of billing informatrion into recurly.

Thanks for following up!

[2019-12-30 22:46] joannasese commented on #363
Hi @jan-ee. Good to hear! I'll go ahead and close this issue then, but if this feature ends up being essential, let us know.

[2019-12-30 22:46] #363 closed

[2019-12-31 18:33] joannasese commented on #353
Hi @benj1502. Picking this up. Have you been able to use a workaround or is `previewInvoice` something you still need?

[2020-01-06 16:02] joannasese commented on #353
Hi @benj1502. I'm going to go ahead and close this issue. If it still needs our attention, please let us know.

[2020-01-06 16:02] #353 closed

[2020-01-10 00:12] hijklmno opened #375 "Checking in on release cadence"
Hello Recurly Dev Team,

Thank you for your time.

I'm following up on PR #367. Would it be possible to get a maven release out soon? We are looking to integrate ACH as a payment method for our customers.

Thanks again!

[2020-01-10 16:21] pierre commented on #375
0.33.0 has been released.

[2020-01-10 16:21] #375 closed

[2020-01-10 17:03] joannasese commented on #375
Thanks @pierre.

@hijklmno you should be good to go.

[2020-01-10 17:15] hijklmno commented on #375
Thank you @pierre and @joannasese!

[2020-01-13 23:42] demetrio812 opened #376 "GiftCard model: gifterAccountCode, recipientAccountCode, invoiceNumber missing"
Hello,
I've noticed the following fields are missing from the GiftCard model:
- gifterAccountCode
- recipientAccountCode
- invoiceNumber missing

I've added them in a fork:

https://github.com/demetrio812/recurly-java-library/commit/7e1ee6310bcb736d2a629a4b9d44c7846c934b99

Let me know if and how I can help

Thanks
Dem

[2020-01-14 00:18] joannasese commented on #376
Hi @demetrio812.

Thanks for reporting! We'll take a look and get back to you soon.

[2020-01-21 23:42] joannasese commented on #376
Hi @demetrio812. Thanks again for reporting. Your contributions will be included in the next release.

[2020-01-21 23:42] #376 closed

[2020-03-10 18:45] #355 closed

[2020-06-18 16:26] benj1502 commented on #353
Sorry @joannasese I lost track of this thread. We were able to workaround the problem.

Thank you, stay safe.

[2020-06-25 15:12] enda-odonohoe opened #397 "Infinite Recursion"
**Describe the bug**

Infinite recursion in call ResponseMetaData.getStatusCode()

[2020-06-25 18:34] joannasese commented on #397
Hi @enda-odonohoe. Thanks for reporting. We'll investigate. Which version of the library are you using?

[2020-06-25 19:16] enda-odonohoe commented on #397
I forked from master, so its in the current version.

[2020-06-26 06:47] wnadglowski opened #398 "PUT request on convertTrial never works properly"
ConvertTrial in RecurlyClient never works properly - Recurly API always returns status 411 Length required. The request is missing "Content-Length" header. It should always be present, even if the request body is empty.

[2020-06-26 19:54] slisaasquatch commented on #397
Fixed here https://github.com/killbilling/recurly-java-library/pull/400

[2020-06-26 19:58] slisaasquatch commented on #398
This will be fixed in the next version. See here https://github.com/killbilling/recurly-java-library/pull/394

[2020-06-26 20:49] joannasese commented on #398
@wnadglowski we'll soon be cutting a release that includes the Apache upgrade referenced in https://github.com/killbilling/recurly-java-library/pull/394. I'll close out this ticket when the new version is out.

[2020-06-26 21:20] joannasese commented on #397
Hi @enda-odonohoe. https://github.com/killbilling/recurly-java-library/pull/400 addresses the issue and will included in an upcoming release to be cut by end of month.

[2020-06-26 21:20] #397 closed

[2020-07-06 16:49] glasser commented on #41
Worth noting that we are seeing an issue where reading from Recurly corrupts Unicode characters. Making sure we run in a locale like `LC_ALL=C.UTF-8` fixes it, but it would be great if this library was Unicode-compatible by default not depending on locale!

[2020-07-06 18:38] glasser opened #403 "Encoding of strings read from Recurly is sensitive to current locale"
**Describe the bug**

We have a customer whose company name is, say, `UTF8 ț Test`.
When we read this value via `RecurlyClient.getAccount("foo").getCompanyName()`, the name gets converted to `UTF8 �� Test`, if our program is running in a locale like `LC_ALL=C` on Linux.

Setting `LC_ALL=C.UTF-8` or using `-Dfile.encoding=UTF-8` fixes this, but since Recurly is always sending UTF-8, it would be gre

[2020-07-06 18:39] glasser commented on #403
My suspicion is that this is fixed on master by @joannasese 's #390 which replaces the entire convertStreamToString function with convertEntityToString which does specify a charset explicitly. However, this PR has not yet been released. Are you able to do a new release which contains this PR?

[2020-07-07 16:32] joannasese commented on #403
Hi @glasser. Thanks for reporting. I agree with your suspicions, but can't take the credit for #390. That was all @slisaasquatch.

We have a release scheduled for this week. I'll close out this issue when the release is cut. If you still encounter issues, please go ahead and reopen the ticket.

[2020-07-07 18:04] glasser commented on #403
Oops, sorry for the misattribution @slisaasquatch!

I would be happy to help you test #390 before release if you're able to make some sort of pre-release that I can load with the normal Gradle/maven mechanisms, FWIW.

[2020-07-14 18:11] joannasese commented on #403
Hi @glasser. The release has been cut, so I'm closing out this ticket.

[2020-07-14 18:11] #403 closed

[2020-07-14 18:12] joannasese commented on #398
Hi @wnadglowski just letting you know that we've cut a release, so I'm closing out this ticket.

[2020-07-14 18:12] #398 closed

[2020-07-15 13:03] Shivani-SinghDeo opened #405 "Null Pointer Exception in toString() of BillingInfo"
**BillingInfo** class method **toString()** is giving Null Pointer Exception as the account is not null but the **account.getBillingInfo()** is coming as null while updating the billing info of an account

BillingInfo updatedBillingInfo = recurlyClient.createOrUpdateBillingInfo(accountCode, billingInfo);

Pass the account code and the billing info with the token. When printing updatedBillingInfo i

[2020-07-15 17:23] Shivani-SinghDeo commented on #405
@joannasese Adding this code worked

`Account account = getAccount();
		if (account != null && account.getBillingInfo() != null && this.getHref() != null
				&& this.getHref().equals(account.getBillingInfo().getHref())) {
			sb.append("{account='").append(account.getAccountCode()).append('\'');
		} else {
			sb.append("{account='").append(account).append('\'');
		}`

[2020-07-15 17:45] Shivani-SinghDeo commented on #405
@joannasese Can you please review this change - https://github.com/killbilling/recurly-java-library/pull/406

[2020-07-15 20:24] joannasese commented on #405
Hi @Shivani-SinghDeo. Thanks for the contribution! I was able to reproduce the error and am reviewing your PR.

[2020-07-20 23:54] #405 closed

[2020-07-28 15:23] thanhedman opened #410 "Increase in SSLException after upgrading to 0.100.0"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

**Describe the bug**

After upgrading to 0.100.0, we are seeing a new exception intermittently but frequently, as often as 50%:
[code]

Because this is not in the list of `IOException` subt

[2020-11-27 19:15] zocomd opened #419 "[Feature Request] Support Authorization Cancellation"
Hi,

Can we please add support for Authorization Cancellation? It should map to [v2/purchases/cancel API](https://docs.recurly.com/docs/auth-and-capture#section-auth-and-capture). I see we already support [authorizePurchase()](https://t.ly/LQlU). If we already have a way to cancel an authorization, please let me know too. Thanks in advance.

_Warning_: Github issues are not an official support cha

[2020-12-02 17:15] joannasese commented on #419
Hi @zocomd. Apologies for missing this! We'll see what we can do about adding this endpoint. I'll keep this issue open for now.

[2021-01-01 00:50] jordan-etleap opened #421 "CustomFields not serializable to JsonNode"
**Describe the bug**

I am trying to use the RecurlyObject XML mapper to write the values to a JsonNode. This seems to work except when there is a CustomFields entity, in which case it yields a `java.lang.ClassCastException: com.ning.billing.recurly.shaded.com.fasterxml.jackson.databind.util.TokenBuffer cannot be cast to com.ning.billing.recurly.shaded.com.fasterxml.jackson.dataformat.xml.ser.ToXm

[2021-01-06 18:23] joannasese commented on #421
@jordan-etleap happy new year! Thanks for reporting. I was able to reproduce the error you're encountering. We'll go ahead and investigate.

[2021-01-07 00:25] jordan-etleap commented on #421
Thanks Joanna. Let me know if you have further questions or if there is anything I can do to help.

[2021-01-07 23:53] jordan-etleap commented on #421
@joannasese I think I've discovered a solution. It seems that the object `CustomFields` should never have been created. I was able to get it to work by removing the `CustomFields` class and replacing all instances of it with `List<CustomField>` where it occurred. This will allow it to work similarly to other arrays, such as "tax_details" in `Adjustment`. If that seems like an agreeable solution, I

[2021-01-11 23:06] jordan-etleap commented on #421
It turns out my solution of using `List<CustomField>` doesn't work when there are no custom fields (throws a NullPointerException). At this point, we have decided to upgrade to the V3 version of the API as that returns JSON already. You can close this issue out.

[2021-01-13 17:35] joannasese commented on #421
@jordan-etleap good to hear you'll be using v3. We may choose to move forward with fixing this bug nonetheless, but I'll close out this issue.

[2021-01-13 17:35] #421 closed

[2021-01-25 17:56] joannasese commented on #419
Hi @zocomd. We've added support for capture and cancel authorizations. These updates will be included in the next release.

[2021-01-25 17:56] #419 closed

[2021-04-27 19:21] joprice opened #428 "add missing prerenewal_notification type"
The Notification Type seems to be missing the prerenewal_notification type: https://developers.recurly.com/reference/webhooks/#subscription-prerenewal. This results in Notification.detect failing to parse to a valid Type.

[2021-06-14 22:03] joannasese commented on #428
Hi @joprice. Apologies for the delay here - missed your question completely. Thanks for alerting us. We'll get a PR up shortly.